In [2]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import geopy.distance

In [3]:
traffic_df = pd.read_csv("traffic_crime.csv")
traffic_df = traffic_df.set_index("stop_id")

business_df = pd.read_csv("business_df.csv")

reasonable_df = pd.read_csv("reasonable_crime.csv")
reasonable_df = reasonable_df.set_index("stop_id")


reasonable_df.drop_duplicates(keep=False,inplace=True) 
traffic_df.drop_duplicates(keep=False,inplace=True)

In [4]:
traffic_df.head()

                crime_type         lon        lat
stop_id
2448     *unsafe movement* -117.248460  32.743970
2454              *others* -117.090126  32.751472
2457                *bike* -117.092220  32.755030
2458                *bike* -117.276380  32.831173
2469           *red light* -117.254770  32.794710

In [5]:
reasonable_df.head()

                crime_type         lon        lat
stop_id
2455     *fight / battery* -117.249580  32.796883
2471     *spouse question* -117.104454  32.745910
2481              *others* -116.986130  32.567997
2485             *alcohol* -117.009780  32.814140
2486     *spouse question* -117.051865  32.582962

In [6]:
business_df = business_df[["ACTIVITY DESC", "lon", "lat"]]
business_df.head()

                             ACTIVITY DESC         lon        lat
0                     INFORMATION SERVICES -117.073740  32.704464
1  ALL OTHER HEALTH & PERSONAL CARE STORES -117.101830  32.737766
2                              REAL ESTATE -117.149460  32.749218
3       OTHER INDIVIDUAL & FAMILY SERVICES -117.089806  32.738430
4                   INVESTIGATION SERVICES -117.116520  32.809334

In [7]:
business_reasonable_df = business_df

In [ ]:

def getDistanceTo_reasonable(row,lat2,lon2) :
    lat1 = row["lat"]
    lon1 = row["lon"]
    coords_1 = (lat1, lon1)
    coords_2 = (lat2, lon2)
    return geopy.distance.distance(coords_1, coords_2).miles

In [ ]:

n=0
for row in reasonable_df.itertuples() :
    n=n+1
    if(n==2500) :
        break
    try :
        business_reasonable_df[row[0]] = business_reasonable_df.apply(getDistanceTo_reasonable,axis=1,args=(row[3],row[2],))
    except :
        print(index1, "Did not work")

In [ ]:
'''
index = 2447
lat = business_reasonable_df.loc[0]["lat"]
lon = business_reasonable_df.loc[0]["lon"]
lat2 = reasonable_df.loc[index]["lat"]
lon2 = reasonable_df.loc[index]["lon"]
getDistanceTo_reasonable(lat,lon,lat2,lon2)
'''

#business_reasonable_df[index] = business_reasonable_df.apply(getDistanceTo(business_reasonable_df["lat"],business_reasonable_df["lon"], lat, lon ), axis=1)

In [ ]:
business_df_csv = business_reasonable_df.to_csv (r'business_reasonable_df.csv', header=True) #Don't forget to add '.csv' at the end of the path

business_reasonable_df.shape()

In [ ]:
n=0
for row in reasonable_df.itertuples() :
    n=n+1
    if(n<2500) :
        continue
    if(n==5000) :
        break
    try :
        business_reasonable_df[row[0]] = business_reasonable_df.apply(getDistanceTo_reasonable,axis=1,args=(row[3],row[2],))
    except :
        print(index1, "Did not work")

In [ ]:
business_df_csv = business_reasonable_df.to_csv (r'business_reasonable_df2.csv', header=True) #Don't forget to add '.csv' at the end of the path