# COGS 108 - Final Project

# Overview

*Fill in your overview here*

# Names

- Les Wang
- Sebastian Troncoso
- Tamuz Hod
- Josh Freilich
- Baizhou Xu

# Group Members IDs

- A12985002
- A14217903
- A15230380
- A13837230
- U08254404

# Research Question

How does the type of business affect the type of crime in the area?

## Background and Prior Work

*Fill in your background and prior work here* 

References (include links):
- 1)
- 2)

# Hypothesis

We predict that the more family friendly businesses in an area reduces the crimes relating to fighting and consume alcoholic beverages rate in the neighborhood whereas the less family friendly businesses will increase theis crime rate.

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

from sklearn.neighbors import kneighbors_graph
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, precision_recall_fscore_support

# Data Cleaning

In this step the datasets are imported and a universal identifier (uid) is created from the stop_id and pid columns.

In [2]:
reason_df = pd.read_csv("Datasets/reason_for_stop.csv")
reason_df['uid'] = reason_df.stop_id.astype(str).str.cat(reason_df.pid.astype(str), sep='_')
details_df = pd.read_csv("Datasets/basic_details.csv",low_memory=False)
details_df['uid'] = details_df.stop_id.astype(str).str.cat(details_df.pid.astype(str), sep='_')

Next the datasets are merged on the <b>uid</b> and all columns that are not relevant to this analysis are dropped.

In [3]:
totalStop_df = pd.merge(reason_df, details_df, on='uid')
totalStop_df = totalStop_df.drop(["agency", "beat", "beat_name", "isschool","school_name", "isstudent"], axis=1)

###### This section will foucus on how we extracted the address information from this df and the use of the US cencus georecorder tool.

Step 1)
Get the address infromation from the data sets so it can be used in the US census geocoder tool.

The US census geocoder is accepts csv sheets of up to 10,000 lines where each line is formated in the follwing way:
"street number street name, City, State, " 
ex:
"4800 NIAGARA AVE, SAN DIEGO, CA,"

In [4]:
dfA_L = pd.read_csv('Data/tr_active1.csv')
dfL_Z = pd.read_csv('Data/tr_active2.csv')
df_business = pd.concat([dfA_L,dfL_Z])
df_business.head()

,BUSINESS ACCT#,DBA NAME,OWNERSHIP TYPE,ADDRESS,CITY,ZIP,STATE,BUSINESS PHONE,OWNER NAME,CREATION DT,START DT,EXP DT,NAICS,ACTIVITY DESC
0,1981012901,#1 FIFTH AVENUE,CORP,3845 05TH AVE,SAN DIEGO,92103-3140,CA,NaN,PUBWAY CORP,12/09/1981,12/09/1981,11/30/2019,722,FOOD SERVICES & DRINKING PLACES
1,2019005727,#WHO DO U THINK U ARE,SOLE,5754 ELK ST,SAN DIEGO,92114-4025,CA,(619) 362-0605,KIESHA MILLER,04/02/2019,04/08/2019,04/30/2020,5141,INFORMATION SERVICES
2,2010034224,% NATURAL GOMEZ,SOLE,4356 POPLAR ST,SAN DIEGO,92105-4657,CA,(619) 417-0105,JUANA GOMEZ,11/12/2010,11/12/2010,11/30/2019,446199,ALL OTHER HEALTH & PERSONAL CARE STORES
3,2015046247,& SALLY J FERNANDEZ,SOLE,17471 PLAZA CERADO SUITE 98,SAN DIEGO,92128-2285,CA,NaN,JAIME V FERNANDEZ,10/29/2015,01/01/2014,12/31/2019,541219,OTHER ACCOUNTING SERVICES
4,2007016185,+A PARTNERS,CORP,3916 NORMAL ST,SAN DIEGO,92103-3413,CA,(619) 294-4477,+A PARTNERS,07/11/2007,07/01/2004,06/30/2019,531,REAL ESTATE

We discovered that the CITY coulmn was "SAN DIEGO" even when address were located in "La Jolla" or "El Cajon"
So we tried each address for both of these city names as well

In [5]:
def generateCSVadresses() :
    for j in range(0,18):
        f= open("business_loc"+str(j)+".csv","w+")
        print(j)
        for i in range(3333*j, 3333 * (j+1)):
            if(i >= len(df_business) -1):
                break
            row = df_business.iloc[i]
            try:
                f.write(str(i) + '001,' + row['ADDRESS'] + ',' + row['CITY'] + ',CA,\n')
                if(row['CITY'] == "SAN DIEGO") : 
                    f.write(str(i) + '002,' + row['ADDRESS'] + ',' + 'La Jolla' + ',CA,\n')
                    f.write(str(i) + '003,' + row['ADDRESS'] + ',' + 'El Cajon' + ',CA,\n')
            except:
                print("Error on line ", i)
        f.close()
# generateCSVadresses()

We then manuly inputed this into the georecorder (https://geocoding.geo.census.gov/geocoder/locations/addressbatch?form)
as this was to be done only once.

We than combinded the csv files using the command line and uploded the result to our data folder

In [6]:
# Input
data_file = "Data/GeoBusinessData/geoBusinessData.csv"

# Generate column names (will be 0, 1, 2, ..., largest_column_count - 1)
column_names = ['uid', 'address', 'match?', 'exact?', 'full_address', 'lon,lat', 'remove', 'LR']
geoBusiness_df = pd.read_csv(data_file, header=None, names=column_names)
geoBusiness_df.count()

uid             170370
address         170370
match?          170370
exact?           51353
full_address     51353
lon,lat          51353
remove           51353
LR               51353
dtype: int64

We proceded to drop any row that was not a match
and get back the orginal index location

In [7]:
geoBusiness_df = geoBusiness_df.dropna()
def shorten(uid) :
    return int(str(uid)[0:len(str(uid)) - 3])
geoBusiness_df['uid'] = geoBusiness_df['uid'].apply(shorten)

geoBusiness_df = geoBusiness_df.set_index('uid')
geoBusiness_df = geoBusiness_df.sort_index()
geoBusiness_df.head()

,address,match?,exact?,full_address,"lon,lat",remove,LR
uid,,,,,,,
1,"5754 ELK ST, SAN DIEGO, CA,",Match,Exact,"5754 ELK ST, SAN DIEGO, CA, 92114","-117.07374,32.704464",648577820.0,L
2,"4356 POPLAR ST, SAN DIEGO, CA,",Match,Exact,"4356 POPLAR ST, SAN DIEGO, CA, 92105","-117.10183,32.737766",195347398.0,L
3,"17471 PLAZA CERADO SUITE 98, SAN DIEGO, CA,",Match,Non_Exact,"17471 PLZ CERADO, SAN DIEGO, CA, 92128","-117.05527,33.028744",612877365.0,R
4,"3916 NORMAL ST, SAN DIEGO, CA,",Match,Exact,"3916 NORMAL ST, SAN DIEGO, CA, 92103","-117.14946,32.749218",195342882.0,L
5,"5383 AUBURN DR, SAN DIEGO, CA,",Match,Exact,"5383 AUBURN DR, SAN DIEGO, CA, 92105","-117.089806,32.73843",195350513.0,R

Since we got the addresses form a concated df of the bussines A_L and L_Z we had to match the index the foloing way:

In [8]:
dfA_L["lon"] = np.nan
dfA_L["lat"] = np.nan
dfL_Z["lon"] = np.nan
dfL_Z["lat"] = np.nan

In [9]:
for i in range (0,len(dfA_L)) :
    try :
        loc_lat = geoBusiness_df.loc[i,:]["lon,lat"]
        dfA_L.iat[i, len(dfA_L.columns) - 2] = loc_lat[0:loc_lat.find(',')]
        dfA_L.iat[i, len(dfA_L.columns) - 1] = loc_lat[loc_lat.find(',')+1:]
    except :
        continue

for i in range (0,len(dfL_Z)) :
    try :
        loc_lat = geoBusiness_df.loc[28302 + i,:]["lon,lat"]
        dfL_Z.iat[i, len(dfL_Z.columns) - 2] = loc_lat[0:loc_lat.find(',')]
        dfL_Z.iat[i, len(dfL_Z.columns) - 1] = loc_lat[loc_lat.find(',')+1:]
    except :
        continue

We than got rid of the bussinesses form whom we did not find an address and recombined them

In [10]:
dfA_L.dropna(inplace = True)
dfL_Z.dropna(inplace = True)

business_df = pd.concat([dfA_L, dfL_Z]).reset_index(drop=True)
business_df.head()

,BUSINESS ACCT#,DBA NAME,OWNERSHIP TYPE,ADDRESS,CITY,ZIP,STATE,BUSINESS PHONE,OWNER NAME,CREATION DT,START DT,EXP DT,NAICS,ACTIVITY DESC,lon,lat
0,2019005727,#WHO DO U THINK U ARE,SOLE,5754 ELK ST,SAN DIEGO,92114-4025,CA,(619) 362-0605,KIESHA MILLER,04/02/2019,04/08/2019,04/30/2020,5141,INFORMATION SERVICES,-117.073740,32.704464
1,2010034224,% NATURAL GOMEZ,SOLE,4356 POPLAR ST,SAN DIEGO,92105-4657,CA,(619) 417-0105,JUANA GOMEZ,11/12/2010,11/12/2010,11/30/2019,446199,ALL OTHER HEALTH & PERSONAL CARE STORES,-117.101830,32.737766
2,2007016185,+A PARTNERS,CORP,3916 NORMAL ST,SAN DIEGO,92103-3413,CA,(619) 294-4477,+A PARTNERS,07/11/2007,07/01/2004,06/30/2019,531,REAL ESTATE,-117.149460,32.749218
3,2016012911,1 ALL EYES AND EARS,SOLE,5383 AUBURN DR,SAN DIEGO,92105-3624,CA,(619) 395-1586,KATRINA GONZALEZ,09/26/2016,10/01/2016,09/30/2019,62419,OTHER INDIVIDUAL & FAMILY SERVICES,-117.089806,32.738430
4,2013047218,1 AMERICAN LIVESCAN,CORP,3690 MURPHY CANYON RD SUITE 102,SAN DIEGO,92123-4455,CA,(858) 874-3119,STONECREST GAS & WASH INC,04/30/2013,01/01/2012,12/31/2019,561611,INVESTIGATION SERVICES,-117.116520,32.809334

Finaly we got rid of everything that was not bussiness type and the location data

In [11]:
business_df = business_df[["ACTIVITY DESC", "lon", "lat"]]
business_df.head()

                             ACTIVITY DESC         lon        lat
0                     INFORMATION SERVICES -117.073740  32.704464
1  ALL OTHER HEALTH & PERSONAL CARE STORES -117.101830  32.737766
2                              REAL ESTATE -117.149460  32.749218
3       OTHER INDIVIDUAL & FAMILY SERVICES -117.089806  32.738430
4                   INVESTIGATION SERVICES -117.116520  32.809334

The same process was done to the crime data

In [12]:
data_file = "Data/GeoCrimeData/reasonable_loc_result.csv"
column_names = ['uid', 'address', 'match?', 'exact?', 'full_address', 'lon,lat', 'remove', 'remove']
geoCrime_reasonable_df = pd.read_csv(data_file, header=None, names=column_names)

geoCrime_reasonable_df = geoCrime_reasonable_df.dropna()
geoCrime_reasonable_df['uid'] = geoCrime_reasonable_df['uid'].apply(shorten)

geoCrime_reasonable_df = geoCrime_reasonable_df.set_index('uid')
geoCrime_reasonable_df = geoCrime_reasonable_df.sort_index()

df_reasonable = geoCrime_reasonable_df

/opt/conda/lib/python3.6/site-packages/pandas/io/parsers.py:678: UserWarning: Duplicate names specified. This will raise an error in the future.
  return _read(filepath_or_buffer, kwds)
/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
for index, row in geoCrime_reasonable_df.iterrows() :
    loc_lat = row["lon,lat"]
    df_reasonable.at[index, "lon"] = loc_lat[0:loc_lat.find(',')]
    df_reasonable.at[index, "lat"] = loc_lat[loc_lat.find(',')+1:]

In [14]:
df_reasonable = df_reasonable[["lon", "lat"]]
df_reasonable = df_reasonable.dropna()
df_reasonable.head()

              lon        lat
uid
2443  -116.970985  32.785866
2443  -116.970985  32.785866
2447   -117.07028   32.75826
2449  -117.208534  32.873898
2451  -117.253426  32.793934

In [15]:
reasonable_crime_csv = df_reasonable.to_csv (r'reasonable_crime.csv', header=True)
business_df_csv = business_df.to_csv (r'business_df.csv', header=True)

We then combined our bussiness and crime data

In [17]:
business_df = pd.read_csv("business_df.csv", index_col=0)
business_df = business_df.loc[:, ~business_df.columns.str.contains('^Unnamed')]

reasonable_df = pd.read_csv("reasonable_crime.csv")
reasonable_df = reasonable_df.set_index("stop_id")

reasonable_df.drop_duplicates(keep="last",inplace=True)

alc_fight_df = reasonable_df.loc[reasonable_df["crime_type"].isin(["*fight / battery*", "*alcohol*"])]

Since the distances we are intrested in are all within a reletevly small geographic area we used the  Euclidean distance between tow points based on the understanding that in distanes of less than 5km the error will be minimal (~0.04%)
http://jonisalonen.com/2014/computing-distance-between-coordinates-can-be-simple-and-fast/

In [18]:
def getDistance(row,lat0,lon0) :
    deglen = 110.25
    x = row["lat"] - lat0
    y = (row["lon"] - lon0) * math.cos(lat0)
    return deglen * math.sqrt(x*x + y*y)
busi_alc_fight_df = business_df

This was calculation was time consuming so it was done in batches using the liberary's GIS lab "datacrancher" computer

In [19]:
'''
binNumber = 100
binSize = int(len(alc_fight_df)/binNumber)

for i in range(0,binNumber) :
    n=0
    print(i)
    for row in alc_fight_df.itertuples() :
        n=n+1
        if(n<i*binSize):
            continue 
        if(n>=(i+1)*binSize) :
            break
        try :
            busi_alc_fight_df[row[0]] = busi_alc_fight_df.apply(getDistanceTo_reasonable,axis=1,args=(row[3],row[2],))
        except :
            print(index1, "Did not work")
    busi_alc_fight_csv = busi_alc_fight_df.to_csv (r'busi_alc_fight_df3.csv', header=True) 
'''

'\nbinNumber = 100\nbinSize = int(len(alc_fight_df)/binNumber)\n\nfor i in range(0,binNumber) :\n    n=0\n    print(i)\n    for row in alc_fight_df.itertuples() :\n        n=n+1\n        if(n<i*binSize):\n            continue \n        if(n>=(i+1)*binSize) :\n            break\n        try :\n            busi_alc_fight_df[row[0]] = busi_alc_fight_df.apply(getDistanceTo_reasonable,axis=1,args=(row[3],row[2],))\n        except :\n            print(index1, "Did not work")\n    busi_alc_fight_csv = busi_alc_fight_df.to_csv (r\'busi_alc_fight_df3.csv\', header=True) \n'

The next step is to add the type of the crime to the column head

In [22]:
pre_procesising_df = pd.read_csv("business_alc_fight_df.csv", index_col=0)

reasonable_df = pd.read_csv("reasonable_crime.csv", engine = "python")
reasonable_df = reasonable_df.set_index("stop_id")
reasonable_df.drop_duplicates(keep="last",inplace=True) 
reasonable_df.rename_axis("ACTIVITY_DESC", inplace = True)

In [23]:
business_df = pre_procesising_df.copy(deep=True)
business_df.head()

business_df.set_index("ACTIVITY DESC", inplace = True)
business_df.drop("lat", axis=1, inplace = True)
business_df.drop("lon", axis=1, inplace = True)

In [26]:
def renameCrimeType(id) :
    if(str(id).isnumeric()):
        try :
            return id + "_" + alc_fight_df.loc[int(id)]["crime_type"][1:6]
        except :
            print(id, " Was not found")
    return id

business_df.rename(columns = lambda x: renameCrimeType(x), inplace = True)

2449  Was not found
2451  Was not found
2459  Was not found
2475  Was not found
2483  Was not found
2502  Was not found
2504  Was not found
2510  Was not found
2528  Was not found
2646  Was not found
2720  Was not found
2752  Was not found
2778  Was not found
2782  Was not found
2924  Was not found
2982  Was not found
2999  Was not found
3053  Was not found
3065  Was not found
3098  Was not found
3119  Was not found
3122  Was not found
3199  Was not found
3358  Was not found
3361  Was not found
3365  Was not found
3370  Was not found
3384  Was not found
3393  Was not found
3416  Was not found
3455  Was not found
3530  Was not found
3765  Was not found
3773  Was not found
3783  Was not found
3846  Was not found
3963  Was not found
3990  Was not found
4001  Was not found
4076  Was not found
4098  Was not found
4104  Was not found
4130  Was not found
4270  Was not found
4276  Was not found
4277  Was not found
4357  Was not found
4368  Was not found
4408  Was not found
4436  Was not found
4457  Was not found
4474  Was not found
4500  Was not found
4509  Was not found
4511  Was not found
4523  Was not found
4539  Was not found
4543  Was not found
4587  Was not found
4684  Was not found
4691  Was not found
4701  Was not found
4735  Was not found
4738  Was not found
4740  Was not found
4762  Was not found
4795  Was not found
4823  Was not found
4892  Was not found
5038  Was not found
5076  Was not found
5092  Was not found
5094  Was not found
5095  Was not found
5125  Was not found
5182  Was not found
5194  Was not found
5245  Was not found
5296  Was not found
5342  Was not found
5346  Was not found
5494  Was not found
5521  Was not found
5570  Was not found
5600  Was not found
5643  Was not found
5667  Was not found
5718  Was not found
5722  Was not found
5793  Was not found
5842  Was not found
5906  Was not found
5917  Was not found
5951  Was not found
5977  Was not found
6031  Was not found
6043  Was not found
6203  Was not found
6232  Was not found
6237  Was not found
6242  Was not found
6261  Was not found
6268  Was not found
6277  Was not found
6336  Was not found
6341  Was not found
6349  Was not found
6360  Was not found
6369  Was not found
6421  Was not found
6423  Was not found
6424  Was not found
6488  Was not found
6501  Was not found
6537  Was not found
6566  Was not found
6602  Was not found
6623  Was not found
6640  Was not found
6653  Was not found
6671  Was not found
6748  Was not found
6802  Was not found
6844  Was not found
6881  Was not found
6884  Was not found
6898  Was not found
6928  Was not found
6999  Was not found
7050  Was not found
7079  Was not found
7102  Was not found
7125  Was not found
7138  Was not found
7168  Was not found
7243  Was not found
7436  Was not found
7441  Was not found
7454  Was not found
7525  Was not found
7639  Was not found
7662  Was not found
7664  Was not found
7700  Was not found
7753  Was not found
7774  Was not found
7854  Was not found
8105  Was not found
8118  Was not found
8168  Was not found
8230  Was not found
8236  Was not found
8264  Was not found
8326  Was not found
8411  Was not found
8464  Was not found
8496  Was not found
8521  Was not found
8530  Was not found
8588  Was not found
8592  Was not found
8596  Was not found
8631  Was not found
8639  Was not found
8667  Was not found
8690  Was not found
8708  Was not found
8714  Was not found
8743  Was not found
8778  Was not found
8822  Was not found
8882  Was not found
9021  Was not found
9069  Was not found
9079  Was not found
9088  Was not found
9171  Was not found
9263  Was not found
9286  Was not found
9289  Was not found
9291  Was not found
9292  Was not found
9315  Was not found
9322  Was not found
9326  Was not found
9328  Was not found
9475  Was not found
9480  Was not found
9501  Was not found
9515  Was not found
9529  Was not found
9530  Was not found
9739  Was not found
9750  Was not found
9776  Was not found
9780  Was not found
9856  Was not found
9885  Was not found
9886  Was not found
9888  Was not found
9889  Was not found
9899  Was not found
9905  Was not found
9936  Was not found
9953  Was not found
9984  Was not found
9992  Was not found
10038  Was not found
10106  Was not found
10136  Was not found
10175  Was not found
10196  Was not found
10367  Was not found
10502  Was not found
10658  Was not found
10859  Was not found
10892  Was not found
10910  Was not found
10928  Was not found
10934  Was not found
11153  Was not found
11403  Was not found
11452  Was not found
11460  Was not found
11465  Was not found
11475  Was not found
11557  Was not found
11674  Was not found
11700  Was not found
11706  Was not found
11742  Was not found
11851  Was not found
11907  Was not found
12023  Was not found
12071  Was not found
12073  Was not found
12115  Was not found
12289  Was not found
12320  Was not found
12325  Was not found
12479  Was not found
12488  Was not found
12613  Was not found
12667  Was not found
12723  Was not found
12729  Was not found
12766  Was not found
12855  Was not found
12897  Was not found
13032  Was not found
13041  Was not found
13053  Was not found
13069  Was not found
13134  Was not found
13161  Was not found
13223  Was not found
13246  Was not found
13393  Was not found
13395  Was not found
13536  Was not found
13759  Was not found
13782  Was not found
13827  Was not found
14179  Was not found
14196  Was not found
14323  Was not found
14421  Was not found
14465  Was not found
14492  Was not found
14497  Was not found
14542  Was not found
14560  Was not found
14803  Was not found
14930  Was not found
15091  Was not found
15223  Was not found
15525  Was not found
15530  Was not found
15631  Was not found
15727  Was not found
15808  Was not found
15933  Was not found
16043  Was not found
16047  Was not found
16056  Was not found
16062  Was not found
16066  Was not found
16070  Was not found
16103  Was not found
16104  Was not found
16107  Was not found
16154  Was not found
16166  Was not found
16185  Was not found
16190  Was not found
16254  Was not found
16283  Was not found
16287  Was not found
16422  Was not found
16440  Was not found
16490  Was not found
16496  Was not found
16554  Was not found
16557  Was not found
16572  Was not found
16583  Was not found
16585  Was not found
16663  Was not found
16665  Was not found
16760  Was not found
16765  Was not found
17002  Was not found
17039  Was not found
17074  Was not found
17084  Was not found
17142  Was not found
17207  Was not found
17296  Was not found
17368  Was not found
17386  Was not found
17445  Was not found
17634  Was not found
17729  Was not found
18076  Was not found
18192  Was not found
18258  Was not found
18290  Was not found
18316  Was not found
18406  Was not found
18416  Was not found
18969  Was not found
19068  Was not found
19133  Was not found
19164  Was not found
19301  Was not found
19399  Was not found
19571  Was not found
19701  Was not found
19834  Was not found
19850  Was not found
20016  Was not found
20040  Was not found
20100  Was not found
20118  Was not found
20200  Was not found
20288  Was not found
20321  Was not found
20469  Was not found
20546  Was not found
20599  Was not found
20739  Was not found
20809  Was not found
21260  Was not found
21360  Was not found
21438  Was not found
21882  Was not found
22043  Was not found
22095  Was not found
22409  Was not found
22486  Was not found
22571  Was not found
22601  Was not found
22619  Was not found
22689  Was not found
22717  Was not found
22796  Was not found
22951  Was not found
22987  Was not found
23012  Was not found
23026  Was not found
23047  Was not found
23089  Was not found
23116  Was not found
23131  Was not found
23146  Was not found
23165  Was not found
23166  Was not found
23183  Was not found
23225  Was not found
23270  Was not found
23313  Was not found
23315  Was not found
23320  Was not found
23325  Was not found
23367  Was not found
23392  Was not found
23426  Was not found
23543  Was not found
23597  Was not found
23605  Was not found
23830  Was not found
23849  Was not found
23881  Was not found
24206  Was not found
24510  Was not found
24875  Was not found
24924  Was not found
24970  Was not found
24982  Was not found
25225  Was not found
25359  Was not found
25473  Was not found
25675  Was not found
25743  Was not found
25802  Was not found
25882  Was not found
26211  Was not found
26241  Was not found
26337  Was not found
26379  Was not found
26389  Was not found
26400  Was not found
26548  Was not found
26708  Was not found
26712  Was not found
26799  Was not found
26879  Was not found
27222  Was not found
27437  Was not found
27498  Was not found
27606  Was not found
27975  Was not found
28098  Was not found
28624  Was not found
28677  Was not found
28691  Was not found
28726  Was not found
29296  Was not found
29686  Was not found
29757  Was not found
29844  Was not found
30184  Was not found
30206  Was not found
30241  Was not found
30244  Was not found
30245  Was not found
30283  Was not found
30284  Was not found
30485  Was not found
30627  Was not found
30815  Was not found
30824  Was not found
31253  Was not found
31325  Was not found
31498  Was not found
31632  Was not found
31965  Was not found
32415  Was not found
32537  Was not found
32574  Was not found
33030  Was not found
33285  Was not found
33307  Was not found
33322  Was not found
33384  Was not found
33404  Was not found
33428  Was not found
33434  Was not found
33497  Was not found
33598  Was not found
33706  Was not found
33711  Was not found
33863  Was not found
33878  Was not found
33948  Was not found
34310  Was not found
34335  Was not found
34660  Was not found
34669  Was not found
34693  Was not found
34738  Was not found
35456  Was not found
35973  Was not found
35990  Was not found
36092  Was not found
36399  Was not found
36449  Was not found
36469  Was not found
36475  Was not found
36513  Was not found
36780  Was not found
36920  Was not found
36952  Was not found
37168  Was not found
37179  Was not found
37600  Was not found
38089  Was not found
38298  Was not found
38404  Was not found
38719  Was not found
38886  Was not found
39133  Was not found
39222  Was not found
39433  Was not found
39459  Was not found
39482  Was not found
39509  Was not found
39563  Was not found
39910  Was not found
39944  Was not found
40164  Was not found
40186  Was not found
40319  Was not found
40358  Was not found
40405  Was not found
40458  Was not found
40718  Was not found
40841  Was not found
41103  Was not found
41141  Was not found
41413  Was not found
41581  Was not found
41677  Was not found
41684  Was not found
41702  Was not found
41852  Was not found
41854  Was not found
41903  Was not found
41915  Was not found
42099  Was not found
42394  Was not found
42427  Was not found
42441  Was not found
42451  Was not found
42460  Was not found

In [27]:
business_df.head()

,2447_fight,2449,2451,2455_fight,2459,2475,2483,2485_alcoh,2502,2504,...,42876_fight,42877_fight,42905_fight,42943_fight,42952_alcoh,43034_alcoh,43078_alcoh,43138_alcoh,43179_alcoh,43180_fight
ACTIVITY DESC,,,,,,,,,,,,,,,,,,,,,
INFORMATION SERVICES,5.931638,18.754879,10.569127,10.826005,3.563687,10.839486,10.545842,12.152264,2.731830,2.731830,...,6.631222,2.684126,3.139930,2.130846,6.838503,2.307581,10.708582,1.763786,3.855569,2.378067
ALL OTHER HEALTH & PERSONAL CARE STORES,2.392861,15.066880,6.971492,7.206127,5.277289,7.231852,6.955788,8.598698,3.270481,3.270481,...,3.649836,3.130361,2.807738,4.033039,3.104694,4.103705,7.032878,4.122998,0.760198,2.700259
REAL ESTATE,2.214189,13.765513,5.396970,5.652816,5.976163,5.670268,5.376207,7.630572,4.044222,4.044222,...,2.080185,3.929264,3.378673,5.098842,1.899324,5.107794,5.535838,5.332971,1.494110,3.690369
OTHER INDIVIDUAL & FAMILY SERVICES,2.239962,15.007879,7.027915,7.251192,5.532868,7.281533,7.015202,8.483424,3.533317,3.533317,...,3.897728,3.391489,3.104835,4.231200,3.097075,4.314055,7.052160,4.286276,1.096052,2.936775
INVESTIGATION SERVICES,5.748061,7.209228,3.353508,3.089895,12.684715,3.215225,3.426751,2.089211,10.738622,10.738622,...,6.896470,10.619667,10.075759,11.749799,4.835224,11.776320,2.413282,11.930609,8.024520,10.340160

# Data Analysis & Results

One approch we used is assume bussiness have a gravity like force that couses crime to happen around them. We than tried to find the magnatiud of this force for each business type.

We started by transforming each distance to its inverse squred

In [25]:
weights_df = (1 / business_df) * (1 / business_df)

In [28]:
weights_df.head()

,2447_fight,2449,2451,2455_fight,2459,2475,2483,2485_alcoh,2502,2504,...,42876_fight,42877_fight,42905_fight,42943_fight,42952_alcoh,43034_alcoh,43078_alcoh,43138_alcoh,43179_alcoh,43180_fight
ACTIVITY DESC,,,,,,,,,,,,,,,,,,,,,
INFORMATION SERVICES,0.028422,0.002843,0.008952,0.008532,0.078741,0.008511,0.008992,0.006772,0.133996,0.133996,...,0.022741,0.138802,0.101429,0.220240,0.021383,0.187796,0.008720,0.321446,0.067270,0.176828
ALL OTHER HEALTH & PERSONAL CARE STORES,0.174649,0.004405,0.020575,0.019257,0.035907,0.019121,0.020668,0.013525,0.093493,0.093493,...,0.075068,0.102050,0.126849,0.061480,0.103744,0.059381,0.020218,0.058827,1.730402,0.137148
REAL ESTATE,0.203972,0.005277,0.034332,0.031295,0.028000,0.031102,0.034598,0.017175,0.061141,0.061141,...,0.231098,0.064771,0.087601,0.038464,0.277206,0.038330,0.032631,0.035161,0.447955,0.073428
OTHER INDIVIDUAL & FAMILY SERVICES,0.199305,0.004440,0.020246,0.019019,0.032666,0.018861,0.020320,0.013895,0.080100,0.080100,...,0.065823,0.086940,0.103734,0.055856,0.104255,0.053731,0.020107,0.054430,0.832411,0.115947
INVESTIGATION SERVICES,0.030266,0.019241,0.088920,0.104740,0.006215,0.096734,0.085160,0.229106,0.008672,0.008672,...,0.021025,0.008867,0.009850,0.007243,0.042773,0.007211,0.171705,0.007025,0.015530,0.009353

We decided to divide our data by crime type to see if this force acts diffrently on alcoholic crimes vs fighting

# Ethics & Privacy

*Fill in your ethics & privacy discussion here*

# Conclusion & Discussion

*Fill in your discussion information here*