In [4]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
traffic_df = pd.read_csv("traffic_crime.csv")
traffic_df = traffic_df.set_index("stop_id")

business_df = pd.read_csv("business_df.csv")

reasonable_df = pd.read_csv("reasonable_crime.csv")
reasonable_df = reasonable_df.set_index("stop_id")

In [12]:
traffic_df.head()

                crime_type         lon       lat
stop_id
2448     *unsafe movement* -117.005226  32.74516
2454              *others* -117.005226  32.74516
2457                *bike* -117.005226  32.74516
2458                *bike* -117.005226  32.74516
2462           *red light* -117.005226  32.74516

In [13]:
reasonable_df.head()

                          crime_type         lon       lat
stop_id
2447               *fight / battery* -117.005226  32.74516
2447               *fight / battery* -117.005226  32.74516
2449               *fight / battery* -117.005226  32.74516
2451                       *alcohol* -117.005226  32.74516
2453     *deadly weapon / terrorize* -117.005226  32.74516

In [14]:
business_df.head()

   Unnamed: 0                            ACTIVITY DESC         lon        lat
0           0                     INFORMATION SERVICES -117.073740  32.704464
1           1  ALL OTHER HEALTH & PERSONAL CARE STORES -117.101830  32.737766
2           2                              REAL ESTATE -117.149460  32.749218
3           3       OTHER INDIVIDUAL & FAMILY SERVICES -117.089806  32.738430
4           4                   INVESTIGATION SERVICES -117.116520  32.809334