In [1]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Input
data_file = "Data/GeoBusinessData/geoBusinessData.csv"

# Generate column names (will be 0, 1, 2, ..., largest_column_count - 1)
column_names = ['uid', 'address', 'match?', 'exact?', 'full_address', 'lon,lat', 'remove', 'LR']

In [3]:
geoBusiness_df = pd.read_csv(data_file, header=None, names=column_names)
geoBusiness_df.count()

uid             170370
address         170370
match?          170370
exact?           51353
full_address     51353
lon,lat          51353
remove           51353
LR               51353
dtype: int64

In [4]:
geoBusiness_df = geoBusiness_df.dropna()

In [5]:
def shorten(uid) :
    return int(str(uid)[0:len(str(uid)) - 3])

In [6]:
geoBusiness_df['uid'] = geoBusiness_df['uid'].apply(shorten)

In [7]:

geoBusiness_df = geoBusiness_df.set_index('uid')
geoBusiness_df = geoBusiness_df.sort_index()

In [8]:
'''
# Input
data_file = "Data/GeoCrimeData/geoCrimeData.csv"

# Generate column names (will be 0, 1, 2, ..., largest_column_count - 1)
column_names = ['uid', 'address', 'match?', 'exact?', 'full_address', 'lon,lat', 'remove', 'remove']

geoCrime_df = pd.read_csv(data_file, header=None, names=column_names)

geoCrime_df = geoCrime_df.dropna()
geoCrime_df['uid'] = geoCrime_df['uid'].apply(shorten)

geoCrime_df = geoCrime_df.set_index('uid')
geoCrime_df = geoCrime_df.sort_index()
'''

'\n# Input\ndata_file = "Data/GeoCrimeData/geoCrimeData.csv"\n\n# Generate column names (will be 0, 1, 2, ..., largest_column_count - 1)\ncolumn_names = [\'uid\', \'address\', \'match?\', \'exact?\', \'full_address\', \'lon,lat\', \'remove\', \'remove\']\n\ngeoCrime_df = pd.read_csv(data_file, header=None, names=column_names)\n\ngeoCrime_df = geoCrime_df.dropna()\ngeoCrime_df[\'uid\'] = geoCrime_df[\'uid\'].apply(shorten)\n\ngeoCrime_df = geoCrime_df.set_index(\'uid\')\ngeoCrime_df = geoCrime_df.sort_index()\n'

In [9]:
dfA_L = pd.read_csv('Data/tr_active1.csv')
dfL_Z = pd.read_csv('Data/tr_active2.csv')

In [10]:
dfA_L["lon"] = np.nan
dfA_L["lat"] = np.nan
dfL_Z["lon"] = np.nan
dfL_Z["lat"] = np.nan
geoBusiness_df.head()

,address,match?,exact?,full_address,"lon,lat",remove,LR
uid,,,,,,,
1,"5754 ELK ST, SAN DIEGO, CA,",Match,Exact,"5754 ELK ST, SAN DIEGO, CA, 92114","-117.07374,32.704464",648577820.0,L
2,"4356 POPLAR ST, SAN DIEGO, CA,",Match,Exact,"4356 POPLAR ST, SAN DIEGO, CA, 92105","-117.10183,32.737766",195347398.0,L
3,"17471 PLAZA CERADO SUITE 98, SAN DIEGO, CA,",Match,Non_Exact,"17471 PLZ CERADO, SAN DIEGO, CA, 92128","-117.05527,33.028744",612877365.0,R
4,"3916 NORMAL ST, SAN DIEGO, CA,",Match,Exact,"3916 NORMAL ST, SAN DIEGO, CA, 92103","-117.14946,32.749218",195342882.0,L
5,"5383 AUBURN DR, SAN DIEGO, CA,",Match,Exact,"5383 AUBURN DR, SAN DIEGO, CA, 92105","-117.089806,32.73843",195350513.0,R

In [11]:
for i in range (0,len(dfA_L)) :
    try :
        loc_lat = geoBusiness_df.loc[i,:]["lon,lat"]
        dfA_L.iat[i, len(dfA_L.columns) - 2] = loc_lat[0:loc_lat.find(',')]
        dfA_L.iat[i, len(dfA_L.columns) - 1] = loc_lat[loc_lat.find(',')+1:]
    except :
        continue

In [12]:
dfA_L.dropna(inplace = True)

In [13]:
for i in range (0,len(dfL_Z)) :
    try :
        loc_lat = geoBusiness_df.loc[28302 + i,:]["lon,lat"]
        dfL_Z.iat[i, len(dfL_Z.columns) - 2] = loc_lat[0:loc_lat.find(',')]
        dfL_Z.iat[i, len(dfL_Z.columns) - 1] = loc_lat[loc_lat.find(',')+1:]
    except :
        continue

In [14]:
dfL_Z.dropna(inplace = True)

In [15]:
df_traffic = pd.read_csv("traffic.csv", header=0,index_col=0)
df_reasonable = pd.read_csv("reasonable.csv", header=0,index_col=0)

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (16,29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
df_traffic.head()

,action,assignment,basis_for_search,basis_for_search_explanation,block,cityname,code,contraband,exp_years,gend,...,result,resultkey,resulttext,stop_in_response_to_cfs,stopdate,stopduration,stoptime,street,uid,crime_type
stop_id,,,,,,,,,,,,,,,,,,,,,
2444,None,"Patrol, traffic enforcement, field operations",NaN,NaN,NaN,SAN DIEGO,54395.0,None,18,1,...,Warning (verbal or written),2,22349(B) VC - EXC 55MPH SPEED:2 LANE RD (I) 54395,0,2018-07-01 00:00:00,10,00:03:34,NOBEL DRIVE,2444_1,*speeding*
2448,None,"Patrol, traffic enforcement, field operations",NaN,NaN,4800.0,SAN DIEGO,NaN,None,3,1,...,No Action,1,NaN,0,2018-07-01 00:00:00,5,00:19:06,NIAGARA AVE,2448_1,*unsafe movement*
2454,None,Gang enforcement,NaN,NaN,4100.0,SAN DIEGO,NaN,None,4,1,...,No Action,1,NaN,0,2018-07-01 00:00:00,3,00:33:19,estrella,2454_1,*others*
2457,None,Other,NaN,NaN,4300.0,SAN DIEGO,NaN,None,4,1,...,No Action,1,NaN,0,2018-07-01 00:00:00,6,00:38:46,Euclid,2457_1,*bike*
2458,None,"Patrol, traffic enforcement, field operations",NaN,NaN,6800.0,SAN DIEGO,NaN,None,1,1,...,Field interview card completed,7,NaN,0,2018-07-01 00:00:00,10,00:37:08,LA JOLLA BLVD,2458_1,*bike*

In [17]:

'''
geoCrime_df = geoCrime_df.drop(columns = ["match?", "exact?", "full_address", "remove", "remove.1"], axis=1)

duplicates_to_delete = geoCrime_df.index.get_level_values('uid').get_duplicates()
geoCrime_df = geoCrime_df.drop(duplicates_to_delete)
geoCrime_df.head()
'''

'\ngeoCrime_df = geoCrime_df.drop(columns = ["match?", "exact?", "full_address", "remove", "remove.1"], axis=1)\n\nduplicates_to_delete = geoCrime_df.index.get_level_values(\'uid\').get_duplicates()\ngeoCrime_df = geoCrime_df.drop(duplicates_to_delete)\ngeoCrime_df.head()\n'

In [18]:


df_traffic["lon"] = np.nan
df_traffic["lat"] = np.nan
df_reasonable["lon"] = np.nan
df_reasonable["lat"] = np.nan

In [19]:
'''
n = 0
for index, row in geoCrime_df.iterrows() :
    did_not_find = False
    loc_lat = row["lon,lat"]
    try :
        df_traffic.at[index, "lon"] = loc_lat[0:loc_lat.find(',')]
        df_traffic.at[index, "lat"] = loc_lat[loc_lat.find(',')+1:]
    except :
        did_not_find = True
    try :
        df_reasonable.at[index, "lon"] = loc_lat[0:loc_lat.find(',')]
        df_reasonable.at[index, "lat"] = loc_lat[loc_lat.find(',')+1:]
    except :
        if did_not_find :
            n = n+1 

print(n)

df_traffic = df_traffic.dropna(subset=['lon'])
len(df_traffic)
'''

'\nn = 0\nfor index, row in geoCrime_df.iterrows() :\n    did_not_find = False\n    loc_lat = row["lon,lat"]\n    try :\n        df_traffic.at[index, "lon"] = loc_lat[0:loc_lat.find(\',\')]\n        df_traffic.at[index, "lat"] = loc_lat[loc_lat.find(\',\')+1:]\n    except :\n        did_not_find = True\n    try :\n        df_reasonable.at[index, "lon"] = loc_lat[0:loc_lat.find(\',\')]\n        df_reasonable.at[index, "lat"] = loc_lat[loc_lat.find(\',\')+1:]\n    except :\n        if did_not_find :\n            n = n+1 \n\nprint(n)\n\ndf_traffic = df_traffic.dropna(subset=[\'lon\'])\nlen(df_traffic)\n'

In [20]:
len(df_traffic)

40405

In [21]:

data_file = "Data/GeoCrimeData/reasonable_loc_result.csv"

# Generate column names (will be 0, 1, 2, ..., largest_column_count - 1)
column_names = ['uid', 'address', 'match?', 'exact?', 'full_address', 'lon,lat', 'remove', 'remove']

geoCrime_reasonable_df = pd.read_csv(data_file, header=None, names=column_names)


data_file = "Data/GeoCrimeData/traffic_loc_result.csv"

# Generate column names (will be 0, 1, 2, ..., largest_column_count - 1)
column_names = ['uid', 'address', 'match?', 'exact?', 'full_address', 'lon,lat', 'remove', 'remove']

geoCrime_traffic_df = pd.read_csv(data_file, header=None, names=column_names)

/opt/conda/lib/python3.6/site-packages/pandas/io/parsers.py:678: UserWarning: Duplicate names specified. This will raise an error in the future.
  return _read(filepath_or_buffer, kwds)
/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:

geoCrime_reasonable_df = geoCrime_reasonable_df.dropna()
geoCrime_reasonable_df['uid'] = geoCrime_reasonable_df['uid'].apply(shorten)

geoCrime_reasonable_df = geoCrime_reasonable_df.set_index('uid')
geoCrime_reasonable_df = geoCrime_reasonable_df.sort_index()


geoCrime_traffic_df = geoCrime_traffic_df.dropna()
geoCrime_traffic_df['uid'] = geoCrime_traffic_df['uid'].apply(shorten)

geoCrime_traffic_df = geoCrime_traffic_df.set_index('uid')
geoCrime_traffic_df = geoCrime_traffic_df.sort_index()

In [23]:


geoCrime_reasonable_df.drop(duplicates_to_delete_reasonable)
geoCrime_traffic_df.drop(duplicates_to_delete_traffic)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'get_duplicates' is deprecated and will be removed in a future release. You can use idx[idx.duplicated()].unique() instead
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: 'get_duplicates' is deprecated and will be removed in a future release. You can use idx[idx.duplicated()].unique() instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [24]:
geoCrime_traffic_df.head()

,address,match?,exact?,full_address,"lon,lat",remove,remove.1
uid,,,,,,,
2448,"4800 NIAGARA AVE, SAN DIEGO, CA,",Match,Exact,"4800 NIAGARA AVE, SAN DIEGO, CA, 92107","-117.24846,32.74397",195339103.0,R
2454,"4100 estrella, SAN DIEGO, CA,",Match,Non_Exact,"4100 ESTRELLA AVE, SAN DIEGO, CA, 92105","-117.090126,32.751472",195350074.0,L
2457,"4300 Euclid, SAN DIEGO, CA,",Match,Non_Exact,"4300 EUCLID AVE, SAN DIEGO, CA, 92115","-117.09222,32.75503",195349935.0,L
2458,"6800 LA JOLLA BLVD, La Jolla, CA,",Match,Non_Exact,"6800 LA JOLLA BLVD, LA JOLLA, CA, 92037","-117.27638,32.831173",195651609.0,L
2462,"4400 MISSION BAY DRIVE, SAN DIEGO, CA,",Match,Exact,"4400 MISSION BAY DR, SAN DIEGO, CA, 92109","-117.21519,32.8018",195698230.0,L

In [27]:
for index, row in geoCrime_traffic_df.iterrows() :
    loc_lat = row["lon,lat"]
    df_traffic.at[index, "lon"] = loc_lat[0:loc_lat.find(',')]
    df_traffic.at[index, "lat"] = loc_lat[loc_lat.find(',')+1:]

In [33]:
index = 2447
loc_lat = geoCrime_reasonable_df.loc[index]["lon,lat"]
df_reasonable.at[index, "lon"] = loc_lat[0:loc_lat.find(',')]
df_reasonable.at[index, "lat"] = loc_lat[loc_lat.find(',')+1:]

In [34]:
for index, row in geoCrime_reasonable_df.iterrows() :
    try :
        loc_lat = row["lon,lat"]
        df_reasonable.at[index, "lon"] = loc_lat[0:loc_lat.find(',')]
        df_reasonable.at[index, "lat"] = loc_lat[loc_lat.find(',')+1:]
    except :
        print(index)

39632
42939

In [35]:
len(df_reasonable)

42492

In [36]:
df_reasonable = df_reasonable.dropna(subset=['lon'])

In [37]:
len(df_reasonable)

31635

In [38]:
df_reasonable.head()

,action,assignment,basis_for_search,basis_for_search_explanation,block,cityname,code,contraband,exp_years,gend,...,resulttext,stop_in_response_to_cfs,stopdate,stopduration,stoptime,street,uid,crime_type,lon,lat
stop_id,,,,,,,,,,,,,,,,,,,,,
2447,Curbside detention,Other,NaN,NaN,4400.0,SAN DIEGO,NaN,None,1,1,...,NaN,1,2018-07-01 00:00:00,15,00:05:43,59th Street,2447_1,*fight / battery*,-117.070280,32.758260
2447,Curbside detention,Other,NaN,NaN,4400.0,SAN DIEGO,NaN,None,1,2,...,NaN,1,2018-07-01 00:00:00,15,00:05:43,59th Street,2447_2,*fight / battery*,-117.070280,32.758260
2449,Search of person was conducted,"Patrol, traffic enforcement, field operations",Incident to arrest,subject was transported to detox and was searc...,4500.0,SAN DIEGO,64005.0,None,1,1,...,647(F) PC - DISORD CONDUCT:ALCOHOL (M) 64005,1,2018-07-01 00:00:00,15,00:03:00,la jolla village dr,2449_1,*fight / battery*,-117.208534,32.873898
2451,Handcuffed or flex cuffed,Other,NaN,NaN,800.0,SAN DIEGO,64005.0,None,24,1,...,647(F) PC - DISORD CONDUCT:ALCOHOL (M) 64005,0,2018-07-01 00:00:00,20,00:24:02,Thomas,2451_1,*alcohol*,-117.253426,32.793934
2453,Handcuffed or flex cuffed,"Patrol, traffic enforcement, field operations",Incident to arrest,INCIDENT TO ARREST,4800.0,SAN DIEGO,13219.0,Other Contraband or evidence,1,1,...,245(A)(1) PC - ADW NOT FIREARM (F) 13219,0,2018-07-01 00:00:00,120,00:31:19,LOGAN AVENUE,2453_1,*deadly weapon / terrorize*,-117.091970,32.696804

In [39]:
business_df = pd.concat([dfA_L, dfL_Z]).reset_index(drop=True)
business_df.head()

,BUSINESS ACCT#,DBA NAME,OWNERSHIP TYPE,ADDRESS,CITY,ZIP,STATE,BUSINESS PHONE,OWNER NAME,CREATION DT,START DT,EXP DT,NAICS,ACTIVITY DESC,lon,lat
0,2019005727,#WHO DO U THINK U ARE,SOLE,5754 ELK ST,SAN DIEGO,92114-4025,CA,(619) 362-0605,KIESHA MILLER,04/02/2019,04/08/2019,04/30/2020,5141,INFORMATION SERVICES,-117.073740,32.704464
1,2010034224,% NATURAL GOMEZ,SOLE,4356 POPLAR ST,SAN DIEGO,92105-4657,CA,(619) 417-0105,JUANA GOMEZ,11/12/2010,11/12/2010,11/30/2019,446199,ALL OTHER HEALTH & PERSONAL CARE STORES,-117.101830,32.737766
2,2007016185,+A PARTNERS,CORP,3916 NORMAL ST,SAN DIEGO,92103-3413,CA,(619) 294-4477,+A PARTNERS,07/11/2007,07/01/2004,06/30/2019,531,REAL ESTATE,-117.149460,32.749218
3,2016012911,1 ALL EYES AND EARS,SOLE,5383 AUBURN DR,SAN DIEGO,92105-3624,CA,(619) 395-1586,KATRINA GONZALEZ,09/26/2016,10/01/2016,09/30/2019,62419,OTHER INDIVIDUAL & FAMILY SERVICES,-117.089806,32.738430
4,2013047218,1 AMERICAN LIVESCAN,CORP,3690 MURPHY CANYON RD SUITE 102,SAN DIEGO,92123-4455,CA,(858) 874-3119,STONECREST GAS & WASH INC,04/30/2013,01/01/2012,12/31/2019,561611,INVESTIGATION SERVICES,-117.116520,32.809334

In [40]:
business_df = business_df[["ACTIVITY DESC", "lon", "lat"]]

In [41]:
business_reasonable_df = business_df

In [42]:
business_df

                                       ACTIVITY DESC         lon        lat
0                               INFORMATION SERVICES -117.073740  32.704464
1            ALL OTHER HEALTH & PERSONAL CARE STORES -117.101830  32.737766
2                                        REAL ESTATE -117.149460  32.749218
3                 OTHER INDIVIDUAL & FAMILY SERVICES -117.089806  32.738430
4                             INVESTIGATION SERVICES -117.116520  32.809334
5         ALL OTHER TRANSIT & GROUND PASSENGER TRANS -117.042060  32.701740
6                                 INSURANCE CARRIERS -117.214676  32.754192
7                                CONSULTING SERVICES -117.236534  32.962055
8                              PHOTOGRAPHIC SERVICES -117.085140  32.931030
9          WINE & DISTILLED ALCOHOLIC BEVERAGE WHSLE -117.232080  32.937702
10                   OTHER SPECIAL TRADE CONTRACTORS -117.151860  32.890890
11                          FULL-SERVICE RESTAURANTS -117.251495  32.747128
12                            SOLID WASTE COLLECTION -117.280250  33.216965
13       ALL OTHER TRANSPORTATION SUPPORT ACTIVITIES -117.278280  33.119675
14                           OTHER PERSONAL SERVICES -117.177765  32.965237
15         POSTPROD & OTHER MOVIE & VIDEO INDUSTRIES -117.153530  32.709400
16      PIECE GOODS, NOTIONS & OTHER DRY GOODS WHSLE -117.120740  32.808340
17             DRINKING PLACES (ALCOHOLIC BEVERAGES) -117.173310  32.907210
18                           GRAPHIC DESIGN SERVICES -117.188060  33.100400
19                     MARKETING CONSULTING SERVICES -117.154465  32.779340
20        LESSORS OF NONRES BLDG (EXC MINIWAREHOUSE) -117.160220  32.722115
21           OTHER SERVICES TO BUILDINGS & DWELLINGS -117.047680  32.775448
22                          FULL-SERVICE RESTAURANTS -117.153780  32.715652
23                               CONSULTING SERVICES -117.145200  32.921783
24         INDEPENDENT ARTISTS, WRITERS & PERFORMERS -117.145700  32.792774
25        LESSORS OF NONRES BLDG (EXC MINIWAREHOUSE) -117.161026  32.728245
26                              REPAIR & MAINTENANCE -117.172180  32.790104
27               ALL OTHER SPECIAL TRADE CONTRACTORS -117.064360  33.028843
28                RETAIL SALES VIA INTERNET/WEBSITES -117.071785  32.994263
29               OTHER MISCELLANEOUS STORE RETAILERS -117.167550  32.723907
...                                              ...         ...        ...
39165                        OTHER PERSONAL SERVICES -117.158230  32.804527
39166                                   TAXI SERVICE -117.132000  33.019382
39167         AUTOMOBILE & OTHER MOTOR VEHICLE WHSLE -117.224945  32.864338
39168                            CONSULTING SERVICES -117.117330  32.912880
39169                    BEAUTY SHOPS - BOOTH RENTAL -117.075510  33.018314
39170                    ALL OTHER PERSONAL SERVICES -117.051390  32.753624
39171                        OTHER PERSONAL SERVICES -117.138200  32.715220
39172                               USED CAR DEALERS -117.063060  32.753280
39173                  BUSINESS TAX EXEMPT - VETERAN -117.173775  32.828133
39174                               USED CAR DEALERS -117.130290  32.695940
39175                     SOUND RECORDING INDUSTRIES -117.086730  32.693684
39176                                   TAXI SERVICE -117.020485  32.928390
39177        ELECTRONIC SHOPPING & MAIL-ORDER HOUSES -117.099060  33.471910
39178                 OFFICE ADMINISTRATIVE SERVICES -116.947090  32.553100
39179                 MANAGEMENT CONSULTING SERVICES -117.114290  32.752987
39180                FURNITURE & RELATED PRODUCT MFG -117.171340  32.879353
39181                       TAXI & LIMOUSINE SERVICE -117.046800  32.759384
39182                                FURNITURE WHSLE -117.027080  32.736160
39183                              MISCELLANEOUS MFG -118.059010  33.950670
39184                               DANCE INSTRUCTOR -117.165220  32.958355
39185                                     CAFETERIAS -117.226830  32.902817
39186                    CLOTHING ACCESSORIES STORES -117.213530  32.872673
39187           CUSTOM COMPUTER PROGRAMMING SERVICES -117.136475  32.964450
39188            ALL OTHER SPECIAL TRADE CONTRACTORS -117.853290  33.648830
39189                         COMMERCIAL PHOTOGRAPHY -117.076996  32.971886
39190  OTH SCIENTIFIC & TECHNICAL CONSULTING SERVICE -117.097880  32.933630
39191            OTHER MISCELLANEOUS STORE RETAILERS -117.151726  32.834507
39192                 MANAGEMENT CONSULTING SERVICES -117.169180  32.712803
39193                    BARBER SHOPS - BOOTH RENTAL -117.070404  32.993176
39194      INDEPENDENT ARTISTS, WRITERS & PERFORMERS -117.005226  32.745160

[39195 rows x 3 columns]

In [43]:
df_traffic = df_traffic[["crime_type", "lon", "lat"]]

In [44]:
df_reasonable = df_reasonable[["crime_type", "lon", "lat"]]

In [45]:
df_reasonable = df_reasonable.dropna()
df_reasonable.head()

                          crime_type         lon        lat
stop_id
2447               *fight / battery* -117.070280  32.758260
2447               *fight / battery* -117.070280  32.758260
2449               *fight / battery* -117.208534  32.873898
2451                       *alcohol* -117.253426  32.793934
2453     *deadly weapon / terrorize* -117.091970  32.696804

In [46]:
df_traffic = df_traffic.dropna()
df_traffic.head()

                crime_type         lon        lat
stop_id
2448     *unsafe movement* -117.248460  32.743970
2454              *others* -117.090126  32.751472
2457                *bike* -117.092220  32.755030
2458                *bike* -117.276380  32.831173
2462           *red light* -117.215190  32.801800

In [47]:
traffic_crime_csv = df_traffic.to_csv (r'traffic_crime.csv', header=True) #Don't forget to add '.csv' at the end of the path
reasonable_crime_csv = df_reasonable.to_csv (r'reasonable_crime.csv', header=True) #Don't forget to add '.csv' at the end of the path
business_df_csv = business_df.to_csv (r'business_df.csv', header=True) #Don't forget to add '.csv' at the end of the path

In [48]:
'''
n=0
for index, row in df_reasonable.iterrows() :
    n=n+1
    if(n==1000) :
        break
    business_reasonable_df[index] = np.nan
'''

'\nn=0\nfor index, row in df_reasonable.iterrows() :\n    n=n+1\n    if(n==1000) :\n        break\n    business_reasonable_df[index] = np.nan\n'