In [1]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Input
data_file = "Data/GeoBusinessData/geoBusinessData.csv"

# Generate column names (will be 0, 1, 2, ..., largest_column_count - 1)
column_names = ['uid', 'address', 'match?', 'exact?', 'full_address', 'lon,lat', 'remove', 'LR']

In [3]:
geoBusiness_df = pd.read_csv(data_file, header=None, names=column_names)
geoBusiness_df.count()

uid             170370
address         170370
match?          170370
exact?           51353
full_address     51353
lon,lat          51353
remove           51353
LR               51353
dtype: int64

In [4]:
geoBusiness_df = geoBusiness_df.dropna()

In [5]:
def shorten(uid) :
    return int(str(uid)[0:len(str(uid)) - 3])

In [6]:
geoBusiness_df['uid'] = geoBusiness_df['uid'].apply(shorten)

In [7]:

geoBusiness_df = geoBusiness_df.set_index('uid')
geoBusiness_df = geoBusiness_df.sort_index()

In [8]:
# Input
data_file = "Data/GeoCrimeData/geoCrimeData.csv"

# Generate column names (will be 0, 1, 2, ..., largest_column_count - 1)
column_names = ['uid', 'address', 'match?', 'exact?', 'full_address', 'lon,lat', 'remove', 'remove']

In [9]:
geoCrime_df = pd.read_csv(data_file, header=None, names=column_names)
geoCrime_df.count()

/opt/conda/lib/python3.6/site-packages/pandas/io/parsers.py:678: UserWarning: Duplicate names specified. This will raise an error in the future.
  return _read(filepath_or_buffer, kwds)
/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

uid             212754
address         212754
match?          212754
exact?           55351
full_address     55351
lon,lat          55351
remove           55347
remove.1         55347
dtype: int64

In [10]:
geoCrime_df = geoCrime_df.dropna()
geoCrime_df['uid'] = geoCrime_df['uid'].apply(shorten)

In [11]:
geoCrime_df = geoCrime_df.set_index('uid')
geoCrime_df = geoCrime_df.sort_index()

In [12]:
dfA_L = pd.read_csv('Data/tr_active1.csv')
dfL_Z = pd.read_csv('Data/tr_active2.csv')

In [13]:
dfA_L["lon"] = np.nan
dfA_L["lat"] = np.nan
dfL_Z["lon"] = np.nan
dfL_Z["lat"] = np.nan
geoBusiness_df.head()

,address,match?,exact?,full_address,"lon,lat",remove,LR
uid,,,,,,,
1,"5754 ELK ST, SAN DIEGO, CA,",Match,Exact,"5754 ELK ST, SAN DIEGO, CA, 92114","-117.07374,32.704464",648577820.0,L
2,"4356 POPLAR ST, SAN DIEGO, CA,",Match,Exact,"4356 POPLAR ST, SAN DIEGO, CA, 92105","-117.10183,32.737766",195347398.0,L
3,"17471 PLAZA CERADO SUITE 98, SAN DIEGO, CA,",Match,Non_Exact,"17471 PLZ CERADO, SAN DIEGO, CA, 92128","-117.05527,33.028744",612877365.0,R
4,"3916 NORMAL ST, SAN DIEGO, CA,",Match,Exact,"3916 NORMAL ST, SAN DIEGO, CA, 92103","-117.14946,32.749218",195342882.0,L
5,"5383 AUBURN DR, SAN DIEGO, CA,",Match,Exact,"5383 AUBURN DR, SAN DIEGO, CA, 92105","-117.089806,32.73843",195350513.0,R

In [14]:
for i in range (0,len(dfA_L)) :
    try :
        loc_lat = geoBusiness_df.loc[i,:]["lon,lat"]
        dfA_L.iat[i, len(dfA_L.columns) - 2] = loc_lat[0:loc_lat.find(',')]
        dfA_L.iat[i, len(dfA_L.columns) - 1] = loc_lat[loc_lat.find(',')+1:]
    except :
        continue

In [15]:
dfA_L.dropna(inplace = True)

In [16]:
for i in range (0,len(dfL_Z)) :
    try :
        loc_lat = geoBusiness_df.loc[28302 + i,:]["lon,lat"]
        dfL_Z.iat[i, len(dfL_Z.columns) - 2] = loc_lat[0:loc_lat.find(',')]
        dfL_Z.iat[i, len(dfL_Z.columns) - 1] = loc_lat[loc_lat.find(',')+1:]
    except :
        continue

In [17]:
dfL_Z.dropna(inplace = True)

In [18]:
df_traffic = pd.read_csv("traffic.csv", header=None, names=column_names)
df_reasonable = pd.read_csv("reasonable.csv", header=None, names=column_names)

/opt/conda/lib/python3.6/site-packages/pandas/io/parsers.py:678: UserWarning: Duplicate names specified. This will raise an error in the future.
  return _read(filepath_or_buffer, kwds)
/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,5,7,9,10,11,13,16,17,19,22,23,29,31,33,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
geoCrime_df = geoCrime_df.drop(columns = ["match?", "exact?", "full_address", "remove", "remove.1"], axis=1)
geoCrime_df.head()

                                        address                lon,lat
uid
2443           700 Grand Avenue, El Cajon, CA,   -116.970985,32.785866
2443          700 Grand Avenue, SAN DIEGO, CA,    -117.255974,32.79445
2447          4400 59th Street, SAN DIEGO, CA,     -117.07028,32.75826
2448          4800 NIAGARA AVE, SAN DIEGO, CA,     -117.24846,32.74397
2449  4500 la jolla village dr, SAN DIEGO, CA,   -117.208534,32.873898

In [23]:

duplicates_to_delete = geoCrime_df.index.get_level_values('uid').get_duplicates()
geoCrime_df

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: 'get_duplicates' is deprecated and will be removed in a future release. You can use idx[idx.duplicated()].unique() instead

In [25]:
duplicates_to_delete

Int64Index([ 2443,  2543,  2658,  2729,  2774,  2985,  2995,  3031,  3062,
             3137,
            ...
            82541, 82619, 82801, 82994, 83054, 83067, 83104, 83105, 83109,
            83150],
           dtype='int64', name='uid', length=1371)

In [28]:
geoCrime_df = geoCrime_df.drop(duplicates_to_delete)

In [29]:
geoCrime_df.head()

                                        address                lon,lat
uid
2447          4400 59th Street, SAN DIEGO, CA,     -117.07028,32.75826
2448          4800 NIAGARA AVE, SAN DIEGO, CA,     -117.24846,32.74397
2449  4500 la jolla village dr, SAN DIEGO, CA,   -117.208534,32.873898
2451                800 Thomas, SAN DIEGO, CA,   -117.253426,32.793934
2453         4800 LOGAN AVENUE, SAN DIEGO, CA,    -117.09197,32.696804

In [30]:
df_traffic["lon"] = np.nan
df_traffic["lat"] = np.nan
df_reasonable["lon"] = np.nan
df_reasonable["lat"] = np.nan

In [ ]:
for index, row in geoCrime_df.iterrows():
    n=0
    loc_lat = row["lon,lat"]
    try :
        df_traffic.at[index, "lon"] = loc_lat[0:loc_lat.find(',')]
        df_traffic.at[index, "lat"] = loc_lat[loc_lat.find(',')+1:]
    except :
        n=n+1
    try :
        df_reasonable.at[index, "lon"] = loc_lat[0:loc_lat.find(',')]
        df_reasonable.at[index, "lat"] = loc_lat[loc_lat.find(',')+1:]
    except :
        continue

/opt/conda/lib/python3.6/site-packages/ipykernel/zmqshell.py:536: PerformanceWarning: indexing past lexsort depth may impact performance.
  return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)

In [ ]:
df_traffic.head()

In [ ]:
loc_lat = loc_lat[2448]["lon,lat"]
df_traffic.at[2448, "lon"] = loc_lat[0:loc_lat.find(',')]
df_traffic.at[2448, "lat"] = loc_lat[loc_lat.find(',')+1:]