In [ ]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Input
data_file = "Data/GeoBusinessData/geoBusinessData.csv"

# Generate column names (will be 0, 1, 2, ..., largest_column_count - 1)
column_names = ['uid', 'address', 'match?', 'exact?', 'full_address', 'lon,lat', 'remove', 'LR']

In [3]:
geoBusiness_df = pd.read_csv(data_file, header=None, names=column_names)
geoBusiness_df.count()

uid             170370
address         170370
match?          170370
exact?           51353
full_address     51353
lon,lat          51353
remove           51353
LR               51353
dtype: int64

In [4]:
geoBusiness_df = geoBusiness_df.dropna()

In [5]:
def shorten(uid) :
    return int(str(uid)[0:len(str(uid)) - 3])

In [6]:
geoBusiness_df['uid'] = geoBusiness_df['uid'].apply(shorten)

In [7]:

geoBusiness_df = geoBusiness_df.set_index('uid')
geoBusiness_df = geoBusiness_df.sort_index()

In [8]:
# Input
data_file = "Data/GeoCrimeData/geoCrimeData.csv"

# Generate column names (will be 0, 1, 2, ..., largest_column_count - 1)
column_names = ['uid', 'address', 'match?', 'exact?', 'full_address', 'lon,lat', 'remove', 'remove']

geoCrime_df = pd.read_csv(data_file, header=None, names=column_names)

geoCrime_df = geoCrime_df.dropna()
geoCrime_df['uid'] = geoCrime_df['uid'].apply(shorten)

geoCrime_df = geoCrime_df.set_index('uid')
geoCrime_df = geoCrime_df.sort_index()

/opt/conda/lib/python3.6/site-packages/pandas/io/parsers.py:678: UserWarning: Duplicate names specified. This will raise an error in the future.
  return _read(filepath_or_buffer, kwds)
/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

uid             212754
address         212754
match?          212754
exact?           55351
full_address     55351
lon,lat          55351
remove           55347
remove.1         55347
dtype: int64

In [12]:
dfA_L = pd.read_csv('Data/tr_active1.csv')
dfL_Z = pd.read_csv('Data/tr_active2.csv')

In [13]:
dfA_L["lon"] = np.nan
dfA_L["lat"] = np.nan
dfL_Z["lon"] = np.nan
dfL_Z["lat"] = np.nan
geoBusiness_df.head()

,address,match?,exact?,full_address,"lon,lat",remove,LR
uid,,,,,,,
1,"5754 ELK ST, SAN DIEGO, CA,",Match,Exact,"5754 ELK ST, SAN DIEGO, CA, 92114","-117.07374,32.704464",648577820.0,L
2,"4356 POPLAR ST, SAN DIEGO, CA,",Match,Exact,"4356 POPLAR ST, SAN DIEGO, CA, 92105","-117.10183,32.737766",195347398.0,L
3,"17471 PLAZA CERADO SUITE 98, SAN DIEGO, CA,",Match,Non_Exact,"17471 PLZ CERADO, SAN DIEGO, CA, 92128","-117.05527,33.028744",612877365.0,R
4,"3916 NORMAL ST, SAN DIEGO, CA,",Match,Exact,"3916 NORMAL ST, SAN DIEGO, CA, 92103","-117.14946,32.749218",195342882.0,L
5,"5383 AUBURN DR, SAN DIEGO, CA,",Match,Exact,"5383 AUBURN DR, SAN DIEGO, CA, 92105","-117.089806,32.73843",195350513.0,R

In [14]:
for i in range (0,len(dfA_L)) :
    try :
        loc_lat = geoBusiness_df.loc[i,:]["lon,lat"]
        dfA_L.iat[i, len(dfA_L.columns) - 2] = loc_lat[0:loc_lat.find(',')]
        dfA_L.iat[i, len(dfA_L.columns) - 1] = loc_lat[loc_lat.find(',')+1:]
    except :
        continue

In [15]:
dfA_L.dropna(inplace = True)

In [16]:
for i in range (0,len(dfL_Z)) :
    try :
        loc_lat = geoBusiness_df.loc[28302 + i,:]["lon,lat"]
        dfL_Z.iat[i, len(dfL_Z.columns) - 2] = loc_lat[0:loc_lat.find(',')]
        dfL_Z.iat[i, len(dfL_Z.columns) - 1] = loc_lat[loc_lat.find(',')+1:]
    except :
        continue

In [17]:
dfL_Z.dropna(inplace = True)

In [18]:
df_traffic = pd.read_csv("traffic.csv", header=0,index_col=0)
df_reasonable = pd.read_csv("reasonable.csv", header=0,index_col=0)

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (16,29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
df_traffic.head()

,action,assignment,basis_for_search,basis_for_search_explanation,block,cityname,code,contraband,exp_years,gend,...,result,resultkey,resulttext,stop_in_response_to_cfs,stopdate,stopduration,stoptime,street,uid,crime_type
stop_id,,,,,,,,,,,,,,,,,,,,,
2444,None,"Patrol, traffic enforcement, field operations",NaN,NaN,NaN,SAN DIEGO,54395.0,None,18,1,...,Warning (verbal or written),2,22349(B) VC - EXC 55MPH SPEED:2 LANE RD (I) 54395,0,2018-07-01 00:00:00,10,00:03:34,NOBEL DRIVE,2444_1,*speeding*
2448,None,"Patrol, traffic enforcement, field operations",NaN,NaN,4800.0,SAN DIEGO,NaN,None,3,1,...,No Action,1,NaN,0,2018-07-01 00:00:00,5,00:19:06,NIAGARA AVE,2448_1,*unsafe movement*
2454,None,Gang enforcement,NaN,NaN,4100.0,SAN DIEGO,NaN,None,4,1,...,No Action,1,NaN,0,2018-07-01 00:00:00,3,00:33:19,estrella,2454_1,*others*
2457,None,Other,NaN,NaN,4300.0,SAN DIEGO,NaN,None,4,1,...,No Action,1,NaN,0,2018-07-01 00:00:00,6,00:38:46,Euclid,2457_1,*bike*
2458,None,"Patrol, traffic enforcement, field operations",NaN,NaN,6800.0,SAN DIEGO,NaN,None,1,1,...,Field interview card completed,7,NaN,0,2018-07-01 00:00:00,10,00:37:08,LA JOLLA BLVD,2458_1,*bike*

In [20]:
geoCrime_df = geoCrime_df.drop(columns = ["match?", "exact?", "full_address", "remove", "remove.1"], axis=1)
geoCrime_df.head()

                                        address                lon,lat
uid
2443           700 Grand Avenue, El Cajon, CA,   -116.970985,32.785866
2443          700 Grand Avenue, SAN DIEGO, CA,    -117.255974,32.79445
2447          4400 59th Street, SAN DIEGO, CA,     -117.07028,32.75826
2448          4800 NIAGARA AVE, SAN DIEGO, CA,     -117.24846,32.74397
2449  4500 la jolla village dr, SAN DIEGO, CA,   -117.208534,32.873898

In [21]:

duplicates_to_delete = geoCrime_df.index.get_level_values('uid').get_duplicates()
geoCrime_df

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: 'get_duplicates' is deprecated and will be removed in a future release. You can use idx[idx.duplicated()].unique() instead

                                          address                lon,lat
uid
2443             700 Grand Avenue, El Cajon, CA,   -116.970985,32.785866
2443            700 Grand Avenue, SAN DIEGO, CA,    -117.255974,32.79445
2447            4400 59th Street, SAN DIEGO, CA,     -117.07028,32.75826
2448            4800 NIAGARA AVE, SAN DIEGO, CA,     -117.24846,32.74397
2449    4500 la jolla village dr, SAN DIEGO, CA,   -117.208534,32.873898
2451                  800 Thomas, SAN DIEGO, CA,   -117.253426,32.793934
2453           4800 LOGAN AVENUE, SAN DIEGO, CA,    -117.09197,32.696804
2454               4100 estrella, SAN DIEGO, CA,   -117.090126,32.751472
2455           1100 hornblend st, SAN DIEGO, CA,    -117.24958,32.796883
2457                 4300 Euclid, SAN DIEGO, CA,     -117.09222,32.75503
2458           6800 LA JOLLA BLVD, La Jolla, CA,    -117.27638,32.831173
2459                 500 5th AVE, SAN DIEGO, CA,     -117.18236,32.69584
2461             4300 OCEAN BLVD, SAN DIEGO, CA,     -117.255806,32.7935
2462      4400 MISSION BAY DRIVE, SAN DIEGO, CA,      -117.21519,32.8018
2463             1000 garnet ave, SAN DIEGO, CA,    -117.25169,32.797413
2464             1000 garnet ave, SAN DIEGO, CA,    -117.25169,32.797413
2465         8900 mira mesa blvd, SAN DIEGO, CA,     -117.13273,32.91396
2469                   800 GRAND, SAN DIEGO, CA,     -117.25477,32.79471
2471          4200 LANDIS STREET, SAN DIEGO, CA,    -117.104454,32.74591
2474           3500 national ave, SAN DIEGO, CA,       -117.11873,32.696
2475              800 GARNET AVE, SAN DIEGO, CA,    -117.25534,32.796597
2476               800 garnet av, SAN DIEGO, CA,    -117.25534,32.796597
2477                700 reed ave, SAN DIEGO, CA,    -117.25555,32.792454
2478              800 GARNET AVE, SAN DIEGO, CA,    -117.25534,32.796597
2479               800 garnet av, SAN DIEGO, CA,    -117.25534,32.796597
2481           7200 OTAY MESA RD, SAN DIEGO, CA,    -116.98613,32.567997
2482           800 Garnet Avenue, SAN DIEGO, CA,    -117.25534,32.796597
2483        4300 Ocean Boulevard, SAN DIEGO, CA,     -117.255806,32.7935
2484       4700 Clairemont Drive, SAN DIEGO, CA,   -117.205765,32.831127
2485       9400 lake murray blvd, SAN DIEGO, CA,     -117.00978,32.81414
...                                           ...                    ...
83124           1000 32nd Street, SAN DIEGO, CA,    -117.12533,32.695927
83125            300 hotel cir n, SAN DIEGO, CA,     -117.1675,32.761566
83126          2200 CABLE STREET, SAN DIEGO, CA,    -117.24512,32.750675
83127       2600 Pacific Highway, SAN DIEGO, CA,     -117.17398,32.73013
83128         7900 AVENIDA ALAMAR, La Jolla, CA,   -117.257965,32.850624
83129              300 Willow Rd, SAN DIEGO, CA,    -117.04258,32.546707
83131                200 17th st, SAN DIEGO, CA,    -117.14855,32.707287
83132                 700 w f st, SAN DIEGO, CA,     -117.15826,32.71364
83133                2700 midway, SAN DIEGO, CA,   -117.202835,32.747623
83137           400 MARINE STREET, La Jolla, CA,    -117.27982,32.837097
83139               4500 Rainier, SAN DIEGO, CA,     -117.09755,32.78982
83140               300 10th Ave, SAN DIEGO, CA,    -117.18844,32.689484
83141  1800 W. Washington Avenue, SAN DIEGO, CA,     -117.17965,32.74879
83143               1600 6TH AVE, SAN DIEGO, CA,     -117.15931,32.72205
83144              400 sunnyside, SAN DIEGO, CA,    -117.02502,32.707874
83145               5900 RAIL CT, SAN DIEGO, CA,     -117.02908,32.54398
83146       9800 Mira Mesa Blvd., SAN DIEGO, CA,    -117.11434,32.916897
83147                     200 21, SAN DIEGO, CA,      -117.14489,32.7074
83149         7300 Skyline Drive, SAN DIEGO, CA,     -117.04005,32.70389
83150         600 Sea World Drive, La Jolla, CA,   -117.276535,32.836838
83150        600 Sea World Drive, SAN DIEGO, CA,     -117.22089,32.76094
83151               4000 SANDTON, SAN DIEGO, CA,    -117.07822,32.750248
83152           3700 Main Street, SAN DIEGO, CA,     -117.11523,32.68541
83153          4100 Front Street, SAN DIEGO, CA,    -117.16496,32.751934
83154            1200 agapanthus, SAN DIEGO, CA,     -117.06094,32.69741
83155  10000 VISTA SORRENTO PKWY, SAN DIEGO, CA,    -117.20861,32.892776
83156           1800 Thor Street, SAN DIEGO, CA,     -117.1186,32.687916
83157         1600 Island Avenue, SAN DIEGO, CA,   -117.149376,32.710457
83158            1000 PROSPECT ST, La Jolla, CA,   -117.274704,32.847496
83159          5000 SANTA MONICA, SAN DIEGO, CA,    -117.25047,32.747795

[55347 rows x 2 columns]

In [22]:
duplicates_to_delete

Int64Index([ 2443,  2543,  2658,  2729,  2774,  2985,  2995,  3031,  3062,
             3137,
            ...
            82541, 82619, 82801, 82994, 83054, 83067, 83104, 83105, 83109,
            83150],
           dtype='int64', name='uid', length=1371)

In [23]:
geoCrime_df = geoCrime_df.drop(duplicates_to_delete)

In [24]:
geoCrime_df.head()

                                        address                lon,lat
uid
2447          4400 59th Street, SAN DIEGO, CA,     -117.07028,32.75826
2448          4800 NIAGARA AVE, SAN DIEGO, CA,     -117.24846,32.74397
2449  4500 la jolla village dr, SAN DIEGO, CA,   -117.208534,32.873898
2451                800 Thomas, SAN DIEGO, CA,   -117.253426,32.793934
2453         4800 LOGAN AVENUE, SAN DIEGO, CA,    -117.09197,32.696804

In [25]:


df_traffic["lon"] = np.nan
df_traffic["lat"] = np.nan
df_reasonable["lon"] = np.nan
df_reasonable["lat"] = np.nan

In [ ]:
n = 0
for index, row in geoCrime_df.iterrows() :
    did_not_find = False
    loc_lat = row["lon,lat"]
    try :
        df_traffic.at[index, "lon"] = loc_lat[0:loc_lat.find(',')]
        df_traffic.at[index, "lat"] = loc_lat[loc_lat.find(',')+1:]
    except :
        did_not_find = True
    try :
        df_reasonable.at[index, "lon"] = loc_lat[0:loc_lat.find(',')]
        df_reasonable.at[index, "lat"] = loc_lat[loc_lat.find(',')+1:]
    except :
        if did_not_find :
            n = n+1 

print(n)

In [ ]:
len(df_traffic)

In [ ]:
df_traffic = df_traffic.dropna(subset=['lon'])
len(df_traffic)

In [ ]:

data_file = "Data/GeoCrimeData/reasonable_loc_result.csv"

# Generate column names (will be 0, 1, 2, ..., largest_column_count - 1)
column_names = ['uid', 'address', 'match?', 'exact?', 'full_address', 'lon,lat', 'remove', 'remove']

geoCrime_reasonable_df = pd.read_csv(data_file, header=None, names=column_names)

geoCrime_reasonable_df = geoCrime_df.dropna()
geoCrime_reasonable_df['uid'] = geoCrime_df['uid'].apply(shorten)

geoCrime_reasonable_df = geoCrime_df.set_index('uid')
geoCrime_reasonable_df = geoCrime_df.sort_index()