In [1]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Input
data_file = "Data/GeoBusinessData/geoBusinessData.csv"

# Generate column names (will be 0, 1, 2, ..., largest_column_count - 1)
column_names = ['uid', 'address', 'match?', 'exact?', 'full_address', 'lon,lat', 'remove', 'LR']

In [3]:
geoBusiness_df = pd.read_csv(data_file, header=None, names=column_names)
geoBusiness_df.count()

uid             170370
address         170370
match?          170370
exact?           51353
full_address     51353
lon,lat          51353
remove           51353
LR               51353
dtype: int64

In [4]:
geoBusiness_df = geoBusiness_df.dropna()

In [5]:
def shorten(uid) :
    return int(str(uid)[0:len(str(uid)) - 3])

In [6]:
geoBusiness_df['uid'] = geoBusiness_df['uid'].apply(shorten)

In [7]:

geoBusiness_df = geoBusiness_df.set_index('uid')
geoBusiness_df = geoBusiness_df.sort_index()

In [8]:
# Input
data_file = "Data/GeoCrimeData/geoCrimeData.csv"

# Generate column names (will be 0, 1, 2, ..., largest_column_count - 1)
column_names = ['uid', 'address', 'match?', 'exact?', 'full_address', 'lon,lat', 'remove', 'remove']

In [9]:
geoCrime_df = pd.read_csv(data_file, header=None, names=column_names)
geoCrime_df.count()

/opt/conda/lib/python3.6/site-packages/pandas/io/parsers.py:678: UserWarning: Duplicate names specified. This will raise an error in the future.
  return _read(filepath_or_buffer, kwds)
/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

uid             212754
address         212754
match?          212754
exact?           55351
full_address     55351
lon,lat          55351
remove           55347
remove.1         55347
dtype: int64

In [10]:
geoCrime_df = geoCrime_df.dropna()
geoCrime_df['uid'] = geoCrime_df['uid'].apply(shorten)

In [11]:
geoCrime_df = geoCrime_df.set_index('uid')
geoCrime_df = geoCrime_df.sort_index()

In [12]:
duplicates_to_delete = geoCrime_df.index.get_level_values('uid').get_duplicates()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'get_duplicates' is deprecated and will be removed in a future release. You can use idx[idx.duplicated()].unique() instead
  """Entry point for launching an IPython kernel.

In [13]:
dfA_L = pd.read_csv('Data/tr_active1.csv')
dfL_Z = pd.read_csv('Data/tr_active2.csv')

In [14]:
dfA_L["lon"] = np.nan
dfA_L["lat"] = np.nan
dfL_Z["lon"] = np.nan
dfL_Z["lat"] = np.nan
geoBusiness_df.head()

,address,match?,exact?,full_address,"lon,lat",remove,LR
uid,,,,,,,
1,"5754 ELK ST, SAN DIEGO, CA,",Match,Exact,"5754 ELK ST, SAN DIEGO, CA, 92114","-117.07374,32.704464",648577820.0,L
2,"4356 POPLAR ST, SAN DIEGO, CA,",Match,Exact,"4356 POPLAR ST, SAN DIEGO, CA, 92105","-117.10183,32.737766",195347398.0,L
3,"17471 PLAZA CERADO SUITE 98, SAN DIEGO, CA,",Match,Non_Exact,"17471 PLZ CERADO, SAN DIEGO, CA, 92128","-117.05527,33.028744",612877365.0,R
4,"3916 NORMAL ST, SAN DIEGO, CA,",Match,Exact,"3916 NORMAL ST, SAN DIEGO, CA, 92103","-117.14946,32.749218",195342882.0,L
5,"5383 AUBURN DR, SAN DIEGO, CA,",Match,Exact,"5383 AUBURN DR, SAN DIEGO, CA, 92105","-117.089806,32.73843",195350513.0,R

In [18]:
for i in range (0,len(dfA_L)) :
    try :
        loc_lat = geoBusiness_df.loc[i,:]["lon,lat"]
        dfA_L.iat[i, len(dfA_L.columns) - 2] = loc_lat[0:loc_lat.find(',')]
        dfA_L.iat[i, len(dfA_L.columns) - 1] = loc_lat[loc_lat.find(',')+1:]
    except :
        continue

In [ ]:
 dfA_L

In [ ]:
dfA_L.dropna(inplace = True)

In [ ]:
for i in range (0,len(dfL_Z)) :
    try :
        loc_lat = geoBusiness_df.loc[28302 + i,:]["lon,lat"]
        dfL_Z.iat[i, len(dfL_Z.columns) - 2] = loc_lat[0:loc_lat.find(',')]
        dfL_Z.iat[i, len(dfL_Z.columns) - 1] = loc_lat[loc_lat.find(',')+1:]

In [ ]:
dfL_Z.dropna(inplace = True)

In [ ]:

dfL_Z

In [ ]:
geoCrime_df