In [1]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Input
data_file = "Data/GeoBusinessData/geoBusinessData.csv"

# Generate column names (will be 0, 1, 2, ..., largest_column_count - 1)
column_names = ['uid', 'address', 'match?', 'exact?', 'full_address', 'lon,lat', 'remove', 'LR']

In [3]:
geoBusiness_df = pd.read_csv(data_file, header=None, names=column_names)
geoBusiness_df.count()

uid             170370
address         170370
match?          170370
exact?           51353
full_address     51353
lon,lat          51353
remove           51353
LR               51353
dtype: int64

In [4]:
geoBusiness_df = geoBusiness_df.dropna()

In [5]:
def shorten(uid) :
    return int(str(uid)[0:len(str(uid)) - 3])

In [6]:
geoBusiness_df['uid'] = geoBusiness_df['uid'].apply(shorten)

In [7]:

geoBusiness_df = geoBusiness_df.set_index('uid')
geoBusiness_df = geoBusiness_df.sort_index()

In [8]:
'''
# Input
data_file = "Data/GeoCrimeData/geoCrimeData.csv"

# Generate column names (will be 0, 1, 2, ..., largest_column_count - 1)
column_names = ['uid', 'address', 'match?', 'exact?', 'full_address', 'lon,lat', 'remove', 'remove']

geoCrime_df = pd.read_csv(data_file, header=None, names=column_names)

geoCrime_df = geoCrime_df.dropna()
geoCrime_df['uid'] = geoCrime_df['uid'].apply(shorten)

geoCrime_df = geoCrime_df.set_index('uid')
geoCrime_df = geoCrime_df.sort_index()
'''

/opt/conda/lib/python3.6/site-packages/pandas/io/parsers.py:678: UserWarning: Duplicate names specified. This will raise an error in the future.
  return _read(filepath_or_buffer, kwds)
/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
dfA_L = pd.read_csv('Data/tr_active1.csv')
dfL_Z = pd.read_csv('Data/tr_active2.csv')

In [10]:
dfA_L["lon"] = np.nan
dfA_L["lat"] = np.nan
dfL_Z["lon"] = np.nan
dfL_Z["lat"] = np.nan
geoBusiness_df.head()

,address,match?,exact?,full_address,"lon,lat",remove,LR
uid,,,,,,,
1,"5754 ELK ST, SAN DIEGO, CA,",Match,Exact,"5754 ELK ST, SAN DIEGO, CA, 92114","-117.07374,32.704464",648577820.0,L
2,"4356 POPLAR ST, SAN DIEGO, CA,",Match,Exact,"4356 POPLAR ST, SAN DIEGO, CA, 92105","-117.10183,32.737766",195347398.0,L
3,"17471 PLAZA CERADO SUITE 98, SAN DIEGO, CA,",Match,Non_Exact,"17471 PLZ CERADO, SAN DIEGO, CA, 92128","-117.05527,33.028744",612877365.0,R
4,"3916 NORMAL ST, SAN DIEGO, CA,",Match,Exact,"3916 NORMAL ST, SAN DIEGO, CA, 92103","-117.14946,32.749218",195342882.0,L
5,"5383 AUBURN DR, SAN DIEGO, CA,",Match,Exact,"5383 AUBURN DR, SAN DIEGO, CA, 92105","-117.089806,32.73843",195350513.0,R

In [11]:
for i in range (0,len(dfA_L)) :
    try :
        loc_lat = geoBusiness_df.loc[i,:]["lon,lat"]
        dfA_L.iat[i, len(dfA_L.columns) - 2] = loc_lat[0:loc_lat.find(',')]
        dfA_L.iat[i, len(dfA_L.columns) - 1] = loc_lat[loc_lat.find(',')+1:]
    except :
        continue

In [12]:
dfA_L.dropna(inplace = True)

In [13]:
for i in range (0,len(dfL_Z)) :
    try :
        loc_lat = geoBusiness_df.loc[28302 + i,:]["lon,lat"]
        dfL_Z.iat[i, len(dfL_Z.columns) - 2] = loc_lat[0:loc_lat.find(',')]
        dfL_Z.iat[i, len(dfL_Z.columns) - 1] = loc_lat[loc_lat.find(',')+1:]
    except :
        continue

In [14]:
dfL_Z.dropna(inplace = True)

In [15]:
df_traffic = pd.read_csv("traffic.csv", header=0,index_col=0)
df_reasonable = pd.read_csv("reasonable.csv", header=0,index_col=0)

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (16,29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
df_traffic.head()

,action,assignment,basis_for_search,basis_for_search_explanation,block,cityname,code,contraband,exp_years,gend,...,result,resultkey,resulttext,stop_in_response_to_cfs,stopdate,stopduration,stoptime,street,uid,crime_type
stop_id,,,,,,,,,,,,,,,,,,,,,
2444,None,"Patrol, traffic enforcement, field operations",NaN,NaN,NaN,SAN DIEGO,54395.0,None,18,1,...,Warning (verbal or written),2,22349(B) VC - EXC 55MPH SPEED:2 LANE RD (I) 54395,0,2018-07-01 00:00:00,10,00:03:34,NOBEL DRIVE,2444_1,*speeding*
2448,None,"Patrol, traffic enforcement, field operations",NaN,NaN,4800.0,SAN DIEGO,NaN,None,3,1,...,No Action,1,NaN,0,2018-07-01 00:00:00,5,00:19:06,NIAGARA AVE,2448_1,*unsafe movement*
2454,None,Gang enforcement,NaN,NaN,4100.0,SAN DIEGO,NaN,None,4,1,...,No Action,1,NaN,0,2018-07-01 00:00:00,3,00:33:19,estrella,2454_1,*others*
2457,None,Other,NaN,NaN,4300.0,SAN DIEGO,NaN,None,4,1,...,No Action,1,NaN,0,2018-07-01 00:00:00,6,00:38:46,Euclid,2457_1,*bike*
2458,None,"Patrol, traffic enforcement, field operations",NaN,NaN,6800.0,SAN DIEGO,NaN,None,1,1,...,Field interview card completed,7,NaN,0,2018-07-01 00:00:00,10,00:37:08,LA JOLLA BLVD,2458_1,*bike*

                                        address                lon,lat
uid
2443           700 Grand Avenue, El Cajon, CA,   -116.970985,32.785866
2443          700 Grand Avenue, SAN DIEGO, CA,    -117.255974,32.79445
2447          4400 59th Street, SAN DIEGO, CA,     -117.07028,32.75826
2448          4800 NIAGARA AVE, SAN DIEGO, CA,     -117.24846,32.74397
2449  4500 la jolla village dr, SAN DIEGO, CA,   -117.208534,32.873898

In [18]:

'''
geoCrime_df = geoCrime_df.drop(columns = ["match?", "exact?", "full_address", "remove", "remove.1"], axis=1)

duplicates_to_delete = geoCrime_df.index.get_level_values('uid').get_duplicates()
geoCrime_df = geoCrime_df.drop(duplicates_to_delete)
geoCrime_df.head()
'''

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: 'get_duplicates' is deprecated and will be removed in a future release. You can use idx[idx.duplicated()].unique() instead

                                        address                lon,lat
uid
2443           700 Grand Avenue, El Cajon, CA,   -116.970985,32.785866
2443          700 Grand Avenue, SAN DIEGO, CA,    -117.255974,32.79445
2447          4400 59th Street, SAN DIEGO, CA,     -117.07028,32.75826
2448          4800 NIAGARA AVE, SAN DIEGO, CA,     -117.24846,32.74397
2449  4500 la jolla village dr, SAN DIEGO, CA,   -117.208534,32.873898

Int64Index([ 2443,  2543,  2658,  2729,  2774,  2985,  2995,  3031,  3062,
             3137,
            ...
            82541, 82619, 82801, 82994, 83054, 83067, 83104, 83105, 83109,
            83150],
           dtype='int64', name='uid', length=1371)

                                        address                lon,lat
uid
2447          4400 59th Street, SAN DIEGO, CA,     -117.07028,32.75826
2448          4800 NIAGARA AVE, SAN DIEGO, CA,     -117.24846,32.74397
2449  4500 la jolla village dr, SAN DIEGO, CA,   -117.208534,32.873898
2451                800 Thomas, SAN DIEGO, CA,   -117.253426,32.793934
2453         4800 LOGAN AVENUE, SAN DIEGO, CA,    -117.09197,32.696804

In [22]:


df_traffic["lon"] = np.nan
df_traffic["lat"] = np.nan
df_reasonable["lon"] = np.nan
df_reasonable["lat"] = np.nan

In [23]:
'''
n = 0
for index, row in geoCrime_df.iterrows() :
    did_not_find = False
    loc_lat = row["lon,lat"]
    try :
        df_traffic.at[index, "lon"] = loc_lat[0:loc_lat.find(',')]
        df_traffic.at[index, "lat"] = loc_lat[loc_lat.find(',')+1:]
    except :
        did_not_find = True
    try :
        df_reasonable.at[index, "lon"] = loc_lat[0:loc_lat.find(',')]
        df_reasonable.at[index, "lat"] = loc_lat[loc_lat.find(',')+1:]
    except :
        if did_not_find :
            n = n+1 

print(n)

df_traffic = df_traffic.dropna(subset=['lon'])
len(df_traffic)
'''

'\nn = 0\nfor index, row in geoCrime_df.iterrows() :\n    did_not_find = False\n    loc_lat = row["lon,lat"]\n    try :\n        df_traffic.at[index, "lon"] = loc_lat[0:loc_lat.find(\',\')]\n        df_traffic.at[index, "lat"] = loc_lat[loc_lat.find(\',\')+1:]\n    except :\n        did_not_find = True\n    try :\n        df_reasonable.at[index, "lon"] = loc_lat[0:loc_lat.find(\',\')]\n        df_reasonable.at[index, "lat"] = loc_lat[loc_lat.find(\',\')+1:]\n    except :\n        if did_not_find :\n            n = n+1 \n\nprint(n)\n\ndf_traffic = df_traffic.dropna(subset=[\'lon\'])\nlen(df_traffic)\n'

In [24]:
len(df_traffic)

40405

In [25]:

data_file = "Data/GeoCrimeData/reasonable_loc_result.csv"

# Generate column names (will be 0, 1, 2, ..., largest_column_count - 1)
column_names = ['uid', 'address', 'match?', 'exact?', 'full_address', 'lon,lat', 'remove', 'remove']

geoCrime_reasonable_df = pd.read_csv(data_file, header=None, names=column_names)

/opt/conda/lib/python3.6/site-packages/pandas/io/parsers.py:678: UserWarning: Duplicate names specified. This will raise an error in the future.
  return _read(filepath_or_buffer, kwds)
/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:

geoCrime_reasonable_df = geoCrime_reasonable_df.dropna()
geoCrime_reasonable_df['uid'] = geoCrime_reasonable_df['uid'].apply(shorten)

geoCrime_reasonable_df = geoCrime_reasonable_df.set_index('uid')
geoCrime_reasonable_df = geoCrime_reasonable_df.sort_index()

In [27]:
duplicates_to_delete = geoCrime_reasonable_df.index.get_level_values('uid').get_duplicates()
duplicates_to_delete

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'get_duplicates' is deprecated and will be removed in a future release. You can use idx[idx.duplicated()].unique() instead
  """Entry point for launching an IPython kernel.

Int64Index([ 2443,  2543,  2658,  2729,  2774,  2995,  3031,  3062,  3137,
             3220,
            ...
            84024, 84039, 84067, 84158, 84272, 84273, 84313, 84352, 84397,
            84398],
           dtype='int64', name='uid', length=660)

In [28]:
geoCrime_reasonable_df = geoCrime_reasonable_df.drop(duplicates_to_delete)

In [29]:
for index, row in geoCrime_reasonable_df.iterrows() :
    df_reasonable.at[index, "lon"] = loc_lat[0:loc_lat.find(',')]
    df_reasonable.at[index, "lat"] = loc_lat[loc_lat.find(',')+1:]

In [31]:
len(df_reasonable)

42492

In [32]:
df_reasonable = df_reasonable.dropna(subset=['lon'])

In [33]:
len(df_reasonable)

31637

In [34]:
df_reasonable.head()

,action,assignment,basis_for_search,basis_for_search_explanation,block,cityname,code,contraband,exp_years,gend,...,resulttext,stop_in_response_to_cfs,stopdate,stopduration,stoptime,street,uid,crime_type,lon,lat
stop_id,,,,,,,,,,,,,,,,,,,,,
2447,Curbside detention,Other,NaN,NaN,4400.0,SAN DIEGO,NaN,None,1,1,...,NaN,1,2018-07-01 00:00:00,15,00:05:43,59th Street,2447_1,*fight / battery*,-117.005226,32.74516
2447,Curbside detention,Other,NaN,NaN,4400.0,SAN DIEGO,NaN,None,1,2,...,NaN,1,2018-07-01 00:00:00,15,00:05:43,59th Street,2447_2,*fight / battery*,-117.005226,32.74516
2449,Search of person was conducted,"Patrol, traffic enforcement, field operations",Incident to arrest,subject was transported to detox and was searc...,4500.0,SAN DIEGO,64005.0,None,1,1,...,647(F) PC - DISORD CONDUCT:ALCOHOL (M) 64005,1,2018-07-01 00:00:00,15,00:03:00,la jolla village dr,2449_1,*fight / battery*,-117.005226,32.74516
2451,Handcuffed or flex cuffed,Other,NaN,NaN,800.0,SAN DIEGO,64005.0,None,24,1,...,647(F) PC - DISORD CONDUCT:ALCOHOL (M) 64005,0,2018-07-01 00:00:00,20,00:24:02,Thomas,2451_1,*alcohol*,-117.005226,32.74516
2453,Handcuffed or flex cuffed,"Patrol, traffic enforcement, field operations",Incident to arrest,INCIDENT TO ARREST,4800.0,SAN DIEGO,13219.0,Other Contraband or evidence,1,1,...,245(A)(1) PC - ADW NOT FIREARM (F) 13219,0,2018-07-01 00:00:00,120,00:31:19,LOGAN AVENUE,2453_1,*deadly weapon / terrorize*,-117.005226,32.74516