In [1]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import geopy.distance
import math

In [2]:
traffic_df = pd.read_csv("traffic_crime.csv")
traffic_df = traffic_df.set_index("stop_id")

business_df = pd.read_csv("busi_alc_fight_df3.csv", index_col=0)

reasonable_df = pd.read_csv("reasonable_crime.csv")
reasonable_df = reasonable_df.set_index("stop_id")


reasonable_df.drop_duplicates(keep="last",inplace=True) 
traffic_df.drop_duplicates(keep="last",inplace=True)

In [3]:
traffic_df.head()

                crime_type         lon        lat
stop_id
2448     *unsafe movement* -117.248460  32.743970
2454              *others* -117.090126  32.751472
2457                *bike* -117.092220  32.755030
2458                *bike* -117.276380  32.831173
2469           *red light* -117.254770  32.794710

In [4]:
reasonable_df["crime_type"].value_counts()

*others*                        2043
*trespassing*                   1540
*fight / battery*               1400
*alcohol*                       1275
*local ordinance violation*     1240
*burglary / theft / robbery*    1209
*drugs*                         1107
*caretaking*                     952
*lodge without consent*          950
*spouse question*                822
*noise*                          777
*deadly weapon / terrorize*      611
*trivial*                        525
*vandalism*                      329
*vehicle robbery*                299
*prostitution*                    46
*murder / kidnapping*             43
*fail to pay for transit*         25
Name: crime_type, dtype: int64

In [5]:
alc_fight_df = reasonable_df.loc[reasonable_df["crime_type"].isin(["*fight / battery*", "*alcohol*"])]
len(alc_fight_df)

2675

In [6]:
business_df = business_df.loc[:, ~business_df.columns.str.contains('^Unnamed')]
business_df.head()

,ACTIVITY DESC,lon,lat,2447,2455,2485,2532,2577,2578,2603,...,49850,49867,49886,49896,49897,49927,49940,49957,49976,50007
0,INFORMATION SERVICES,-117.073740,32.704464,5.931638,10.826005,12.152264,2.963084,14.701244,5.165864,5.061442,...,4.868028,2.313756,1.777409,13.385114,17.869651,5.420984,5.756256,12.614322,1.797913,11.435646
1,ALL OTHER HEALTH & PERSONAL CARE STORES,-117.101830,32.737766,2.392861,7.206127,8.598698,3.528617,18.441642,1.577430,2.160008,...,2.114321,3.308178,4.960803,9.679911,14.179502,1.718532,2.091118,8.906558,3.201350,7.753488
2,REAL ESTATE,-117.149460,32.749218,2.214189,5.652816,7.630572,4.199080,19.989504,0.208213,1.116841,...,1.281877,4.273048,6.323335,8.348616,12.859232,1.397455,1.698374,7.546407,5.081609,6.282031
3,OTHER INDIVIDUAL & FAMILY SERVICES,-117.089806,32.738430,2.239962,7.251192,8.483424,3.803150,18.474400,1.753749,2.458503,...,2.428279,3.537423,5.074150,9.636721,14.126911,1.653968,1.996858,8.873708,3.039252,7.761283
4,INVESTIGATION SERVICES,-117.116520,32.809334,5.748061,3.089895,2.089211,10.899886,26.358912,6.745512,7.572055,...,7.804662,10.940079,12.840268,1.962123,6.365713,6.194010,5.858250,1.479911,10.608322,2.141116

In [7]:
busi_alc_fight_df = business_df

In [8]:

def getDistanceTo_reasonable(row,lat0,lon0) :
    deglen = 110.25
    x = row["lat"] - lat0
    y = (row["lon"] - lon0) * math.cos(lat0)
    return deglen * math.sqrt(x*x + y*y)

In [9]:
binSize = int(len(alc_fight_df)/100)

for i in range(99,100) :
    n=0
    print(i)
    for row in alc_fight_df.itertuples() :
        n=n+1
        if(n<i*binSize):
            continue 
        if(n>=(i+1)*binSize) :
            break
        try :
            busi_alc_fight_df[row[0]] = busi_alc_fight_df.apply(getDistanceTo_reasonable,axis=1,args=(row[3],row[2],))
        except :
            print(index1, "Did not work")
    busi_alc_fight_csv = busi_alc_fight_df.to_csv (r'busi_alc_fight_df3.csv', header=True)

51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
busi_alc_fight_df.head()