In [4]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import geopy.distance
import math

In [2]:
traffic_df = pd.read_csv("traffic_crime.csv")
traffic_df = traffic_df.set_index("stop_id")

business_df = pd.read_csv("busi_alc_fight_df3.csv", index_col=0)

reasonable_df = pd.read_csv("reasonable_crime.csv")
reasonable_df = reasonable_df.set_index("stop_id")


reasonable_df.drop_duplicates(keep="last",inplace=True) 
traffic_df.drop_duplicates(keep="last",inplace=True)

In [3]:
traffic_df.head()

                crime_type         lon        lat
stop_id
2448     *unsafe movement* -117.248460  32.743970
2454              *others* -117.090126  32.751472
2457                *bike* -117.092220  32.755030
2458                *bike* -117.276380  32.831173
2469           *red light* -117.254770  32.794710

In [4]:
reasonable_df["crime_type"].value_counts()

*others*                        2043
*trespassing*                   1540
*fight / battery*               1400
*alcohol*                       1275
*local ordinance violation*     1240
*burglary / theft / robbery*    1209
*drugs*                         1107
*caretaking*                     952
*lodge without consent*          950
*spouse question*                822
*noise*                          777
*deadly weapon / terrorize*      611
*trivial*                        525
*vandalism*                      329
*vehicle robbery*                299
*prostitution*                    46
*murder / kidnapping*             43
*fail to pay for transit*         25
Name: crime_type, dtype: int64

In [5]:
alc_fight_df = reasonable_df.loc[reasonable_df["crime_type"].isin(["*fight / battery*", "*alcohol*"])]
len(alc_fight_df)

2675

In [3]:
business_df = business_df.loc[:, ~business_df.columns.str.contains('^Unnamed')]
business_df.head()

NameError: name 'business_df' is not defined

In [2]:
busi_alc_fight_df = business_df

NameError: name 'business_df' is not defined

In [8]:

def getDistance(row,lat0,lon0) :
    deglen = 110.25
    x = row["lat"] - lat0
    y = (row["lon"] - lon0) * math.cos(lat0)
    return deglen * math.sqrt(x*x + y*y)

In [5]:
binSize = int(len(alc_fight_df)/100)

for i in range(99,100) :
    n=0
    print(i)
    for row in alc_fight_df.itertuples() :
        n=n+1
        if(n<i*binSize):
            continue 
        if(n>=(i+1)*binSize) :
            break
        try :
            busi_alc_fight_df[row[0]] = busi_alc_fight_df.apply(getDistanceTo_reasonable,axis=1,args=(row[3],row[2],))
        except :
            print(index1, "Did not work")
    busi_alc_fight_csv = busi_alc_fight_df.to_csv (r'busi_alc_fight_df3.csv', header=True)

NameError: name 'alc_fight_df' is not defined

In [ ]:
busi_alc_fight_df.head()